{% extends "_base.html" %}
{% load static %}

{% block title %}Export data{% endblock title %}

{% block additional_includes %}
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/base.css">
{% endblock additional_includes %}

{% block content %}
<body>

<div>Export data in CSV file format</div>

<a href="{% url 'export_csv_goodreads' %}">Export library</a>


<div style="margin-top: 50px;">Export data as Obsidian vault</div>

<a href="{% url 'export_zip_vault' %}">Export zip file</a>
</body>

{% endblock content %}