{% extends "_base.html" %}
{% load static %}

{% block title %}Export data{% endblock title %}

{% block additional_includes %}
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/base.css">
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/account/export.css">
{% endblock additional_includes %}

{% block content %}
<h4 class="title">Export Data</h4>
<div class="export-section">
  <div class="export-option">
    <p>Export data in CSV file format</p>
    <a href="{% url 'export_csv_goodreads' %}" class="export-btn">Export library</a>
  </div>

  <div class="export-option">
    <p>Export quotes</p>
    <a href="{% url 'export_quotes_csv' %}" class="export-btn">Export quotes</a>
  </div>

  <div class="export-option">
    <p>Export data as Obsidian vault</p>
    <a href="{% url 'export_zip_vault' %}" class="export-btn">Export zip file</a>
  </div>

</div>

{% endblock content %}