{% extends "_base.html" %}
{% load static %}

{% block title %}Import data{% endblock title %}

{% block additional_includes %}
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/base.css">
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/account/import-page.css">
{% endblock additional_includes %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/account/import-page.css' %}">
</head>

<body>

<h4 class="title">Import Data</h4>
<div class="import-section">

    {% if form_errors %}
        <div class="error-messages">
            <p>The uploaded file contains errors:</p>
            <ul>
                {% for field, errors in form_errors.items %}
                    <li>
                        <strong>{{ field }}</strong>
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form action="/books/import/" enctype="multipart/form-data" method="post" class="import-form">
        {% csrf_token %}
        <div class="form-fields">
            {{ form }}
        </div>
        <button type="submit" class="submit-btn">Submit</button>
    </form>

    <form action="{% url 'import_quotes_csv' %}" method="post" enctype="multipart/form-data" class="import-form">
      {% csrf_token %}
        <div class="form-fields">
          <label for="quotes-file">Import quotes:</label>
          <input type="file" name="quotes-file" id="quotes-file">
        </div>
        <button type="submit" class="submit-btn">Submit</button>
    </form>
</div>

<!--
<div class="hidden">
<h4>Import data from .jl files</h4>
    <form action='/books/import/authors/' enctype="multipart/form-data" method="post">
         {% csrf_token %}
         {{ authors_form }}
         <br/>
         <input type="submit" value="Submit">
    </form>
    <br>

    <form action='/books/import/books/' enctype="multipart/form-data" method="post">
         {% csrf_token %}
         {{ books_form }}
         <br/>
         <input type="submit" value="Submit">
    </form>
</div>
-->
{% if books_to_scrape_count %}
    <div id="scraping-section">
        <div id="count-update" class="scrape-item">
            {% include 'partials/account/scrape_status_update.html' %}
        </div>
        <button id="scraping-btn" type="button" class="btn scrape-btn scrape-item" hx-get="/scrapers/start" hx-target="#status-update"
                onclick="this.style.display='none'">Start scraping books</button>
        <div id="status-update" class="scrape-item"></div>
    </div>
{% endif %}

<div class="data-clear-section">
    <form action="/books/import/clear_user_data/" method="post">
        {% csrf_token %}
        <button type="submit" class="btn-danger clear-btn" name="clear_user_data"
                onclick="return confirm('Are you sure you want to clear user data? Consider first exporting data as CSV.');">Clear User Data</button>
    </form>

    <form action="/books/import/delete-all-quotes/" method="post">
        {% csrf_token %}
        <button type="submit" class="btn-danger clear-btn" name="clear_user_data"
                onclick="return confirm('Are you sure you want to delete all quotes?');">Clear All Quotes</button>
    </form>

    <form action="/books/import/clear_scraped_data/" method="post">
        {% csrf_token %}
        <button type="submit" class="btn-danger clear-btn" name="clear_scraped_data"
                onclick="return confirm('Are you sure you want to clear all data?');">Clear All Data</button>
    </form>
</div>

{% endblock content %}