{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Import data{% endblock title %}

{% block content %}
<body>
<h1>Import data from Goodreads</h1>
    {% if form_errors %}
        <p>The uploaded file contains errors:</p>
        <ul>
        {% for field, errors in form_errors.items %}
            <li>
                {{ field }}
                <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
        <form action="/books/import/" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form }}
            <br/>
            <input type="submit" value="Submit">
        </form>
    </body>

{% endblock content %}