{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Import data{% endblock title %}

{% block content %}
<body>
<h4>Import data from Goodreads</h4>
    {% if form_errors %}
        <p>The uploaded file contains errors:</p>
        <ul>
        {% for field, errors in form_errors.items %}
            <li>
                {{ field }}
                <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
        <form action="/books/import/" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form }}
            <br/>
            <input type="submit" value="Submit">
        </form>
    <br>

<h4>Import data from .jl files</h4>
    <form action='/books/import/authors/' enctype="multipart/form-data" method="post">
         {% csrf_token %}
         {{ authors_form }}
         <br/>
         <input type="submit" value="Submit">
    </form>
    <br>

    <form action='/books/import/books/' enctype="multipart/form-data" method="post">
         {% csrf_token %}
         {{ books_form }}
         <br/>
         <input type="submit" value="Submit">
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- add warning and confirmation for this button -->
    <form action='/books/import/clear/' method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" name="clear_database">Clear User Data</button>
    </form>

    <br>
    <br>
    <br>
    <!-- add warning and confirmation for this button -->
    <form action='/recs/import/clear/' method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" name="clear_recs">Clear Recommendations</button>
    </form>

    </body>

{% endblock content %}