{% extends "_base.html" %}
{% load static %}
{% block title %}Settings{% endblock title %}

{% block additional_includes %}
  <link rel="stylesheet" href="{% static 'themes/' %}{{ user.get_theme_name }}/css/account/settings.css">
{% endblock additional_includes %}

{% block content %}


<div class="sidebar">
    <div class="sidemenu-title">Settings</div>
    <div class="sidemenu-container">

        <div class="menu-option"
        hx-get="/accounts/profile_settings/"
        hx-target="#settings-container">Profile settings</div>

        <div class="menu-option">Import Data</div>
        <div class="menu-option">Import Lists</div>
        <div class="menu-option">Export Data</div>
        <div class="menu-option"
        hx-get="/accounts/themes_settings/"
        hx-target="#settings-container">Themes</div>

    </div>
</div>

<div id="settings-container">

    {% if theme_list %}
        {% include 'partials/account/settings/theme_settings.html' %}
    {% endif %}

</div>

{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'themes/' %}{{ user.get_theme_name }}/js/account/settings.js"></script>
{% endblock %}