<div id="calendar">
    <div class="calendar-header">

        <h2 class="calendar-title">{{ month_name }} {{ year }}</h2>

        {% if month > 1 %}
            <button hx-get="{% url 'calendar_view' %}?month={{ month|add:-1 }}&year={{ year }}"
                    hx-target="#calendar" hx-swap="outerHTML">
                ←
            </button>
        {% endif %}

        <button hx-get="{% url 'calendar_view' %}?month={{ current_month }}&year={{ year }}"
                    hx-target="#calendar" hx-swap="outerHTML">
                .
        </button>

        {% if month < 12 %}
            <button hx-get="{% url 'calendar_view' %}?month={{ month|add:1 }}&year={{ year }}"
                    hx-target="#calendar" hx-swap="outerHTML">
                →
            </button>
        {% endif %}
    </div>

    <table>
        <thead>
            <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
        </thead>
        <tbody>
            {% for week in calendar %}
                <tr>
                    {% for day in week %}
                        {% if day == 0 %}
                            <td>&nbsp;</td>
                        {% else %}
                            {% with day|slugify as day_slug %}
                                <td class="
                                    {% if day == current_day and month == current_month %} current-day {% endif %}
                                    {% if day in event_days %} has-event{% endif %}
                                "
                                    {% if day in event_days %}
                                    hx-get="{% url 'display_book_events' %}?day={{ day }}&month={{ month }}"
                                    hx-target="#home-content"
                                    {% endif %}
>
                                    {{ day }}
                                </td>
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>