<div id="changelog">
     <button class="close-btn" onclick="document.getElementById('changelog').style.display = 'none';"></button>

    <article>
        <section>
            <div class="changelog-header">
                <div class="release-version">v0.4.0</div>
                <div class="release-date">29.12.2024</div>
            </div>
        </section>

        <section>
        <div>New features</div>
            <ul>
              <li>Added a new customizable theme.</li>
              <li>Added changelog to homepage.</li>
            </ul>
        </section>

        <section>
        <div>Fixes</div>
            <ul>
              <li>Set Scrapyd to not create a .pid file. This caused issues when the container was stopped abruptly.</li>
              <li>Fixed author ratings in author detail page.</li>
            </ul>
        </section>
    </article>

</div>