<div id="changelog">
     <button class="close-btn" onclick="document.getElementById('changelog').style.display = 'none';"></button>

        <article>
        <section>
            <div class="changelog-header">
                <div class="release-version">v0.6.1</div>
                <div class="release-date">27.04.2025</div>
            </div>
        </section>

        <section>
        <div>Changes</div>
            <ul>
              <li>Added basic page transitions.</li>
              <li>Custom theme style adjustments.</li>
            </ul>
        </section>
        </article>

        <article>
        <section>
            <div class="changelog-header">
                <div class="release-version">v0.6.0</div>
                <div class="release-date">09.04.2025</div>
            </div>
        </section>

        <section>
        <div>New features</div>
            <ul>
              <li>Added calendar with book events on home page.</li>
            </ul>
        </section>

        <section>
        <div>Changes</div>
            <ul>
              <li>Added option to ignore "to-read" shelf in import data page.</li>
              <li>Added option to use the URL for matching when importing quotes. This is useful in case you change the edition of the book.</li>
              <li>Added shelved books column to author's list.</li>
              <li>Added option to delete authors without shelved books in author detail page.</li>
              <li>Added shelf select and date read calendar to book detail page.</li>
              <li>Book list sidebar's position is no longer fixed.</li>
              <li>Replaced hardcoded urls from book list and book detail pages.</li>
              <li>Changed scrapy's user agent.</li>
              <li>Added new options to add new book page: clear temporary data in case the scrapy fails to retrieve it; shortcut to monitor scrapy.</li>
            </ul>
        </section>

        <section>
        <div>Fixes</div>
            <ul>
              <li>Enabled line breaks for quotes.</li>
              <li>Fixed top search to show only books with user data available.</li>
            </ul>
        </section>

        </article>

        <article>
        <section>
            <div class="changelog-header">
                <div class="release-version">v0.5.0</div>
                <div class="release-date">31.01.2025</div>
            </div>
        </section>

        <section>
        <div>New features</div>
            <ul>
              <li>Added book quotes.</li>
              <li>Added Goodreads scraper for quotes (limited to 2 pages for convenience) in book detail page.</li>
              <li>Added new page for quotes where you can search, filter and mark quotes as favorite.</li>
              <li>Added import and export functions for quotes.</li>
            </ul>
        </section>

        <section>
        <div>Changes</div>
            <ul>
              <li>Added rating and review to book detail page.</li>
              <li>Added quotes column to book list.</li>
              <li>Added custom scrollbars globally.</li>
            </ul>
        </section>

    </article>

    <article>
        <section>
            <div class="changelog-header">
                <div class="release-version">v0.4.0</div>
                <div class="release-date">29.12.2024</div>
            </div>
        </section>

        <section>
        <div>New features</div>
            <ul>
              <li>Added a new customizable theme.</li>
              <li>Added changelog to homepage.</li>
            </ul>
        </section>

        <section>
        <div>Changes</div>
            <ul>
              <li>Set Scrapyd to not create a .pid file. This caused issues when the container was stopped abruptly.</li>
              <li>Added confirmation for deleting user data.</li>
            </ul>
        </section>

        <section>
        <div>Fixes</div>
            <ul>
              <li>Fixed author ratings and cover styling in author detail page.</li>
            </ul>
        </section>
    </article>

</div>