.hidden {
  display: none;
}

.import-section {
  backdrop-filter: blur(10px);
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.import-section h4 {
  font-size: 1.2em;
  color: var(--font-color);
  margin-bottom: 10px;
}

.error-messages {
  background-color: #ffe5e5;
  border: 1px solid #ffaaaa;
  color: #d9534f;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.error-messages p {
    font-weight: bold;
}

.error-messages ul {
    margin: 5px 0;
    padding-left: 20px;
    list-style-type: circle;
}

.title {
  text-align: center;
  color: var(--font-color);
  font-size: 1.5em;
  margin-bottom: 10px;
}

.import-form {
  margin-bottom: 24px;
}

.form-fields {
  margin-bottom: 15px;
}

.import-form input[type="file"] {
  margin-top: 10px;
}

.submit-btn {
  background-color: #38444d;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}

#scraping-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 30px;
  padding: 20px;
  backdrop-filter: blur(10px);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.scrape-item {
  display: flex;
  align-items: center;
}

.scrape-btn {
  background-color: #38444d;
  color: white;
  padding: 10px 15px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.scrape-btn:hover {
  background-color: #0056b3;
}

.data-clear-section {
  position: absolute;
  bottom: 80px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.clear-btn {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.clear-btn:hover {
  background-color: #c0392b;
}