.sidebar {
  position: fixed;
  width: 200px;
  top: 10vh;
  padding: 20px;
}

.sidemenu-title {
  font-size: 2rem;
  margin-bottom: 32px;
  text-align: center;
}

.sidemenu-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-option {
  padding: 10px;
  border-bottom: 1px solid var(--font-color);
  background: transparent;
  color: var(--font-color);
  cursor: pointer;
  text-align: left;
  font-size: 1.2rem;
}

.menu-option:hover {
  font-weight: bold;
}

#settings-container {
  display: flex;
  flex-direction: column;
  margin: 50px 300px 0 300px;
}

.current-setting {
  animation: settingFade 0.5s ease-in-out forwards;
}

@keyframes settingFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.setting-title {
  font-size: 2rem;
  margin-bottom: 32px;
  text-align: left;
}

.setting-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  color: var(--font-color);
  font-size: 1.3rem;
}

.option:hover {
  font-weight: bold;
  cursor: pointer;
}

.setting-form-content {
  backdrop-filter: blur(10px);
  text-align: left;
  position: fixed;
  padding: 16px 20px;
  font-size: 1.2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: formFadeSlide 0.5s ease-in-out forwards;
  z-index: 10;
}

@keyframes formFadeSlide {
  0% {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 20px));
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.form-content div {
  margin-bottom: 12px;
}

.form-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--font-color);;
  padding-bottom: 8px;
}

.form-content input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--font-color);
  color: var(--font-color);
  background: transparent;
  font-size: 0.875rem;
}

.form-content button {
  background-color: #38444d;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.form-content button:hover {
  background-color: #0056b3;
}

.fade-out {
  animation: fadeOut 10s ease forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.form-message.error {
  color: red;
}

.centered-form {
  backdrop-filter: blur(10px);
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.centered-title {
  text-align: center;
  color: var(--font-color);
  font-size: 1.5em;
  margin-bottom: 10px;
}

.theme-fieldset {
  border: none;
}

.theme-option {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.theme-option input[type="radio"] {
  accent-color: #ff7675;
  margin-right: 8px;
}

.theme-option label {
  font-size: 1em;
  cursor: pointer;
}

.theme-save-btn {
  width: 100%;
  padding: 10px;
  background-color: #38444d;
  color: white;
  border: none;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.theme-save-btn:hover {
  background-color: #0056b3;
}

.theme-save-btn:focus {
  outline: none;
  box-shadow: 0 0 4px #00b894;
}

#custom-form {
  padding: 20px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  width: 35vw;
  margin: 20px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.button-container {
  margin-top: 12px;
}

.custom-theme-btn {
  padding: 10px;
  background-color: #38444d;
  color: white;
  border: none;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-theme-btn:hover {
  background-color: #0056b3;
}

#scraping-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 30px;
  padding: 20px;
  backdrop-filter: blur(10px);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.scrape-item {
  display: flex;
  align-items: center;
}

.scrape-btn {
  background-color: #38444d;
  color: white;
  padding: 10px 15px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.scrape-btn:hover {
  background-color: #0056b3;
}

.data-clear-section {
  position: absolute;
  bottom: 80px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.clear-btn {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.clear-btn:hover {
  background-color: #c0392b;
}
