.sidebar {
  position: fixed;
  width: 200px;
  top: 10vh;
  padding: 20px;
}

.sidemenu-title {
  font-size: 2rem;
  margin-bottom: 32px;
  text-align: center;
}

.sidemenu-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-option {
  padding: 10px;
  border-bottom: 1px solid var(--font-color);
  background: transparent;
  color: var(--font-color);
  cursor: pointer;
  text-align: left;
  font-size: 1.2rem;
}

.menu-option:hover {
  font-weight: bold;
}

#settings-container {
  display: flex;
  flex-direction: column;
  margin: 50px 300px 0 300px;
}

.current-setting {
  animation: settingFade 0.5s ease-in-out forwards;
}

@keyframes settingFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.setting-title {
  font-size: 2rem;
  margin-bottom: 32px;
  text-align: left;
}

.setting-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  color: var(--font-color);
  font-size: 1.3rem;
}

.option:hover {
  font-weight: bold;
  cursor: pointer;
}

.setting-form-content {
  backdrop-filter: blur(10px);
  text-align: left;
  position: fixed;
  padding: 16px 20px;
  font-size: 1.2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: formFadeSlide 0.5s ease-in-out forwards;
  z-index: 10;
}

@keyframes formFadeSlide {
  0% {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 20px));
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.form-content div {
  margin-bottom: 12px;
}

.form-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--font-color);;
  padding-bottom: 8px;
}

.form-content input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--font-color);
  color: var(--font-color);
  background: transparent;
  font-size: 0.875rem;
}

.form-content button {
  background-color: #1f9cff;
  color: #fff;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.form-content button:hover {
  background-color: #0056b3;
}

.fade-out {
  animation: fadeOut 10s ease forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.form-message.error {
  color: red;
}