{% if books %}

    <h3>{{reclist_name}} </h3>

    {% if genre %} <h4> {{genre}} </h4> {% endif %}
    <div id="book-list-content" class="list-animation">
        {% for book in books %}
            {% if book.title %}
                    <a href="#" hx-get="/recs/book/{{ book.goodreads_id }}"
                       hx-target="#detail-div"
                       {% if book.read_status %} class="read-book" {% endif %} id="book-{{ book.goodreads_id }}">{{ book.title }}</a><br>
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <p style="text-align: center;">No list selected</p>
{% endif %}