{% if books %}

    <h4 style="text-align: center;">{{reclist_name}} </h4>

    {% if genre %} <h5 style="text-align: center;"> {{genre}} </h5> {% endif %}
    <div id="book-list-content">
        {% for book in books %}
            {% if book.title %}
                {% if book.read_status %}
                    <a href="#" hx-get="/recs/book/{{ book.goodreads_id }}" hx-target="#detail-div" class="read-book" id="book-{{ book.goodreads_id }}">{{ book.title }}</a><br>
                {% else %}
                    <a href="#" hx-get="/recs/book/{{ book.goodreads_id }}" hx-target="#detail-div" id="book-{{ book.goodreads_id }}">{{ book.title }}</a><br>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <p style="text-align: center;">No list selected</p>
{% endif %}