{% if book %}
<div id="book-content">
    <div id="book-info" class="book-animation">
    <h1>{{ book.title }}</h1>
    {% if book.list_authors %}
        {% for author in book.list_authors %}
            <span class="contributor">{{author}}</span>{% if not forloop.last %},{% endif %}
        {% endfor %}
    {% endif %}
    <br> <br>

    {% if book.rating_counts %}
        <span><strong>Number of ratings:</strong> {{ book.rating_counts }}</span><br>
    {% endif %}

    {% if book.number_of_pages > 1 %}
        <span><strong>Number of pages:</strong> {{ book.number_of_pages }}</span><br>
    {% endif %}

    {% if book.url %}
        <a href="{{ book.url }}" target=”_blank”>Goodreads link</a><br>
    {% endif %}
    <br>

    {% if book.list_genres %}
        <span> <strong>Genres:</strong></span>
        {% for genre in book.list_genres %}
            <span>{{genre}}</span>{% if not forloop.last %},{% endif %}
        {% endfor %}
    {% endif %}



    <div id="read-status-container">
        <input type="checkbox" id="checkbox-{{ book.goodreads_id }}" class="book-checkbox" {% if book.read_status %} checked {% endif %}
               hx-post="{% url 'update_read_status' book.goodreads_id %}" hx-trigger="change" hx-swap="innerHTML"
               hx-target="#read-status-update" />
        <label for="checkbox-{{ book.goodreads_id }}">Mark as read</label>
        <div id="read-status-update"></div>
    </div>

    <br> <br>
    </div>
        <div id="book-cover">

            <img src="{{book.image_url}}" height="350" class="cover-animation">
        </div>
        </div>
        </div>
    {% if book.description %}
       <div id="book-description" class="description-animation">{{ book.description }}</div>
    {% endif %}

    <br>
{% endif %}