{% extends "_base.html" %}

{% load static %}

{% block title %}{{ book.title }}{% endblock title %}

{% block additional_includes %}
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/base.css">
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/books/book-detail.css">
{% endblock additional_includes %}

{% block content %}
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <script>
        var data = "{{book|safe}}"
    </script>

    <button id="back-btn" class="btn" onclick="history.back()">⮜ Return</button>

    <div id="buttons-container">

        {% if review.review_content %}
            <button class="menu-btn"
            >Edit review</button>
        {% else %}
            <button class="menu-btn"
            >Add review</button>
        {% endif %}

        {% if book.scraped_quotes %}
            <button class="menu-btn"
                hx-get="{% url 'book_detail_quotes' book.goodreads_id %}"
                hx-target="#quotes-container"
            >Show quotes ({{quotes_no}})</button>

        {% else %}
            <div id="scrape-quotes-div">
                <button class="menu-btn"
                hx-post="{% url 'scrape_quotes_url' book.goodreads_id %}"
                hx-target="#scrape-quotes-div"
                >Get quotes</button>
            </div>
        {% endif %}

        <button class="menu-btn">Add quote</button>

        <form id="remove-form" action="{% url 'remove_book' book.goodreads_id %}" method="post">
            {% csrf_token %}
            <button id="remove-btn" class="menu-btn" type="submit"
            onclick="return confirm('Are you sure you want to remove this book?')">
            Remove book</button>
        </form>

    </div>

    <div id="book-container">

    <!-- Left column: Title, Author, and Description -->
    <div id="book-metadata">

        <h1>{{ book.title }}</h1>

        <h2><a href="http://127.0.0.1:8000/books/authors/{{author_data.0}}">{{ author_data.2 }}</a></h2>
        <br>


        <div class="book-metadata">
            {% if book.publisher %}<div><strong>Publisher:</strong> {{ book.publisher }}</div>{% endif %}
            {% if book.publish_date %}<div><strong>Publish date:</strong> {{ book.format_publish_date }}</div>{% endif %}
            {% if review.original_publication_year %}<div><strong>Original publication year:</strong> {{ review.original_publication_year }}</div>{% endif %}
            {% if book.number_of_pages > 0 %}<div><strong>Pages:</strong> {{ book.number_of_pages }}</div>{% endif %}
            {% if book.language %}<div><strong>Language:</strong> {{ book.language }}</div>{% endif %}
        </div>

        <div class="book-lists">
            {% if book.list_series %}
                <div><strong>Series:</strong> {% for series in book.list_series %}<span class="tag">{{ series }}</span>{% endfor %}</div>
            {% endif %}
            {% if book.list_genres %}
                <div><strong>Genres:</strong> {% for genre in book.list_genres %}<span class="tag">{{ genre }}</span>{% endfor %}</div>
            {% endif %}
            {% if book.list_places %}
                <div><strong>Setting:</strong> {% for place in book.list_places %}<span class="tag">{{ place }}</span>{% endfor %}</div>
            {% endif %}
            {% if book.list_characters %}
                <div><strong>Characters:</strong> {% for character in book.list_characters %}<span class="tag">{{ character }}</span>{% endfor %}</div>
            {% endif %}
        </div>
    </div>

    <!-- Right column: Image, Rating, Bookshelf, Date read -->
    <div id="book-personal-info">

        <div id="book-cover">
            {% if book.cover_local_path %}
                <img src="/media/{{book.cover_local_path}}">
            {% else %}
                <img src="/media/book_covers/book-cover.png" style="box-shadow: none">
            {% endif %}
        </div>

        {% if review.rating != 0 %}
            <div><strong>Rating:</strong> {{review.rating}}</div>
        {% endif %}

        <div><strong>Bookshelf:</strong> {{ review.bookshelves }}</div>
        {% if review.date_read %}
            <div><strong>Date read:</strong> {{ review.date_read }}</div>
        {% endif %}
        <div>
            <a href= {{ book.url }} class="external-link"><img src="{% static 'images/gr-bw.png' %}"></a>
        </div>
        <br>

    </div>

</div>

    <div id="book-description">
        {% if book.description %}
            <p>{{ book.description }}</p>
        {% endif %}

        {% if review.review_content %}
            <p><span class="bold">Review:</span> {{ review.review_content }}</p>
        {% endif %}

    <div id="quotes-container">

    </div>
    </div>



{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'themes/' %}{{ active_theme }}/js/books/book-detail.js"></script>
{% endblock %}