{% extends "_base.html" %}

{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/books/book-map.css' %}">
</head>

<body>

    <div id="get-locations-container" class="{% if emptyLoc == 0 %}hidden{% endif %}">

        <div>Get location data from Open Street Map. <br>
            Rate is limited at one request per second. <br>
            At <span id="locCount"></span> unique locations found, estimated time to completion: <span id="locTimeM"></span> minutes.
        </div>

        <form action='/books/import/location/' method="post">
             {% csrf_token %}
             <br/>
             <button type="submit" value="Get location data" class="btn btn-secondary">Get location data</button>
        </form>
    </div>

<script>
  let emptyLoc = {{ emptyLoc|safe }};

  let locations =  [
             {% for location in queryset %}
                [{{ location.1 }}],
            {% endfor %}
        ];


</script>

{% endblock content %}

{% block scripts %}
          {{ block.super }}
          <script src="{% static 'js/book/book-map.js' %}"></script>
{% endblock %}

</body>

