{% extends "_base.html" %}

{% load static %}
{% load humanize %}

{% block title %}Books{% endblock title %}

{% block additional_includes %}
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/base.css">
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/books/book-list.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css">
{% endblock additional_includes %}

{% block content %}

<body>
<script>
    var bookData = [
    {% for book in book_list %}
        ['{{ book.2 }}', '{{ book.3 }}', '{{ book.8 }}'],
    {% endfor %}
    ];
</script>
<div id="left-sidebar">
    <div>

        <div class="filter-name">Bookshelf</div>
        <div id="shelf-checkbox-container"></div>

        <div class="filter-name">Rating</div>
        <div id="ratingFilter">
            <input type="checkbox" name="rating" value="5" id="5stars-checkbox">
            <label for="5stars-checkbox"> 5 stars</label>
            <br>
            <input type="checkbox" name="rating" value="4" id="4stars-checkbox">
            <label for="4stars-checkbox"> 4 stars</label>
            <br>
            <input type="checkbox" name="rating" value="3" id="3stars-checkbox">
            <label for="3stars-checkbox"> 3 stars</label>
            <br>
            <input type="checkbox" name="rating" value="2" id="2stars-checkbox">
            <label for="2stars-checkbox"> 2 stars</label>
            <br>
            <input type="checkbox" name="rating" value="1" id="1stars-checkbox">
            <label for="1stars-checkbox"> 1 star</label>
            <br>
            <input type="checkbox" name="rating" value="" id="no-stars-checkbox">
            <label for="no-stars-checkbox"> No rating</label>
            <br>
        </div>

        <div class="filter-name">Year read</div>
        <div id="year-checkbox-container"></div>

        <button id="clear-filters" class="btn btn-secondary shadow-none">Clear filters</button>
    </div>
</div>

<table id="books-table" class="compact">
        <thead>
            <th>Title</th>
            <th>Author</th>
            <th>Rating</th>
            <th>Shelves</th>
            <th>Pages</th>
            <th>Pub. year</th>
            <th>Ratings</th>
            <th>Date read</th>

        </thead>
            {% for book in book_list %}
                <tr>
                <td><a href="http://127.0.0.1:8000/books/{{book.6}}">{{ book.0 }}</a></td>
                <td><a href="http://127.0.0.1:8000/books/authors/{{book.7}}">{{ book.1 }}</a></td>
                <td class="dt-right"> {% if not book.2 == 0 %} {{ book.2 }} {% endif %} </td>
                <td class="dt-right"> {{ book.3 }} </td>
                <td class="dt-right"> {% if book.4 > 0 %} {{ book.4|intcomma }} {% endif %} </td>
                <td class="dt-right"> {% if book.5 %} {{ book.5 }} {% endif %} </td>
                <td class="dt-right"> {% if book.9 %} {{ book.9|intcomma }} {% endif %} </td>
                <td class="dt-right"> {% if book.8 %} {{ book.8 }} {% endif %} </td>
            {% endfor %}
             </tr>
</table>
</body>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.8/date-1.5.1/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.8/date-1.5.1/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
    <script src="{% static 'themes/' %}{{ active_theme }}/js/books/book-list.js"></script>

{% endblock %}