{% extends "_base.html" %}

{% load static %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
    <script>
        var data = {{book|safe}}
    </script>
<div style="display: flex; align-items: flex-start;">

    <!-- Left column: Title, Author, and Description -->
    <div style="flex: 2; margin-right: 20px;">

        <h2>{{ book.title }}</h2>

        <h3><a href="http://127.0.0.1:8000/books/authors/{{review.0}}">{{ review.2 }}</a></h3>
        <br>

        {% if book.description %}
            <div>{{ book.description }}</div>
            <br>
        {% endif %}

        <br>

        {% if book.publisher %}
            <div>Publisher: {{ book.publisher }}</div>
        {% endif %}

        {% if book.publish_date %}
            <div>Publish date: {{ book.format_publish_date }}</div>
        {% endif %}

        {% if review.6 %}
            <div>Original publication year: {{ review.6 }}</div>
        {% endif %}

        {% if book.number_of_pages > 0 %}
            <div>Number of pages: {{ book.number_of_pages }}</div>
        {% endif %}

        {% if book.list_series %}
                <div>Series:
                        {% for series in book.list_series %}
                        <span>{{series}}</span>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                        .
                </div>
        {% endif %}

        {% if book.language %}
            <div>Language: {{ book.language }}</div>
        {% endif %}

    </div>

    <!-- Right column: Image, Rating, Bookshelf, Date read -->
    <div style="flex: 1; margin-left: 30px;">

        <div>
            {% if book.cover_local_path %}
                <img src="/media/{{book.cover_local_path}}" height="350">
            {% else %}
                <img src="{{book.image_url}}" height="350">
            {% endif %}
        </div>

        {% if review.3 != 0 %}
            <div>Rating: {{review.3}}</div>
        {% endif %}

        <div>Bookshelf: {{ review.4 }}</div>
        {% if review.5 %}
            <div>Date read: {{ review.5 }}</div>
        {% endif %}
        <div>
            <a href= {{ book.url }} ><img src="{% static 'images/gr-bw.png' %}" height="30"></a>
        </div>
        <br>

    </div>

</div>

        <br>

        {% if book.list_genres %}
                <div>Genres:
                        {% for genre in book.list_genres %}
                        <span>{{genre}}</span>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                        .
                </div>
        {% endif %}

        {% if book.list_places %}
                <div>Setting:
                        {% for place in book.list_places %}
                        <span>{{place}}</span>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                        .
                </div>
        {% endif %}

        {% if book.list_characters %}
                <div>Characters:
                        {% for character in book.list_characters %}
                        <span>{{character}}</span>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                        .
                </div>
        {% endif %}
            <br>

        {% if book.awards %}
            <div>Awards: {{ book.awards }}</div>
        {% endif %}

        {% if review.7 %}
            <div>Review: {{ review.7 }}</div>
        {% endif %}
    </div>
{% endblock content %}