{% extends "_base.html" %}

{% load static %}

{% block title %}Book stats{% endblock title %}

{% block additional_includes %}
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/base.css">
{% endblock additional_includes %}

{% block content %}

<body>
    <div class="tab-buttons-container">
        <button class="tab-button" onclick="showTab('season-stats')">Season Stats</button>
        <button class="tab-button" onclick="showTab('publication-year')">Publication Year</button>
        <button class="tab-button" onclick="showTab('yearly-stats')">Yearly Stats</button>
        <button class="tab-button" onclick="showTab('genre-stats')">Genre Distribution</button>
    </div>

    <!-- First Tab -->
    <div id="season-stats-container" class="tab-container active-tab">
        <div id="month-stats" class="tab" style="width: 1200px; height: 600px;"></div>
    </div>

    <!-- Second Tab -->
    <div id="publication-year-container" class="tab-container active-tab">
        <div id="scatter-stats" class="tab" style="width: 1200px; height: 600px;"></div>
    </div>

    <!-- Third Tab -->
    <div id="yearly-stats-container" class="tab-container active-tab">
        <div id="year-stats" class="tab" style="width: 1200px; height: 600px;"></div>
    </div>

    <!-- 4th Tab -->
    <div id="genre-stats-container" class="tab-container active-tab">



        <div id="genre-stats" class="tab" style="width: 1200px; height: 600px;"></div>
        <div id="genre-stats-year" class="tab" style="width: 1200px; height: 600px;"></div>
    </div>

    <script>
        var monthlyData = [
            {% for month in monthlyData %}
                [{{ month.0 }}, {{ month.1 }}, {{ month.2 }}, {{ month.3 }}],
            {% endfor %}
        ];

        var pubStats = [
            {% for data in pubStats %}
                ['{{ data.0 }}', '{{ data.1 }}', '{{ data.2 }}', {{ data.3 }}],
            {% endfor %}
        ];

        var yearStats = [
            {% for year in yearStats %}
                ['{{ year.0 }}', {{ year.1 }}, {{ year.2 }}],
            {% endfor %}
        ];

        var genreStats = [
            {% for name in genreStats %}
                ['{{ name.0 }}', {{ name.1 }}],
            {% endfor %}
        ];

        var genreStatsYear = [
            {% for name in genreStatsYear %}
                ['{{ name.0 }}', {{ name.1 }}, '{{ name.2 }}'],
            {% endfor %}
        ];

        var genreCategory = [
            {% for name in genreCategory %}
                ['{{ name.0 }}', {{ name.1 }}],
            {% endfor %}
        ];

    </script>
{% endblock content %}

{% block scripts %}
                {{ block.super }}
                <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
                <script src="{% static 'js/vintage.js' %}"></script>
                <script src="{% static 'js/book/book-stats.js' %}"></script>

{% endblock %}
</body>