{% extends "_base.html" %}

{% load static %}

{% block content %}

<head>
    <title>{% block title %}Word cloud{% endblock title %}</title>
</head>

<body>
<div id="wordCanvas" class="tab" style="width: 1200px; height: 800px;"></div>


<script>
      var wordFreqs = [
        {% for word, frequency in word_freqs.items %}
          ['{{ word }}', {{ frequency }}],
        {% endfor %}
      ];
</script>

{% endblock content %}
{% block scripts %}

                {{ block.super }}
                <script src="{% static 'js/libs/wordcloud2.js' %}"></script>
                <script src="{% static 'js/book/generate-wordcloud.js' %}"></script>

{% endblock %}
</body>