{% extends "_base.html" %}

{% load static %}

{% block content %}

<head>
    <title>{% block title %}Book gallery{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/books/book-gallery.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

<div id="left-sidebar">

    <div style="text-align: center;">Filters</div>
    <button id="clearFiltersButton" class="cat-btn" hx-get="/books/clear_filter" hx-trigger="click" hx-target="#content-div">Clear filter</button>
    <div class="container mt-4">
            <button class="shadow-none cat-btn" data-bs-toggle="collapse" data-bs-target="#shelfCollapse">Bookshelves</button>
            <div class="collapse show" id="shelfCollapse">

                <div>
                    {% for shelf in shelves %}
                             <a href="#" id="{{shelf.bookshelves|slugify}}" hx-get="/books/shelf-filter?shelf={{ shelf.bookshelves }}" hx-trigger="click" hx-target="#content-div" hx-swap="show:window:top">{{shelf.bookshelves}} ({{shelf.num_books}})</a>
                            <br>
                    {% endfor %}
                </div>

    </div>
    </div>

    <div id="ratings-container" class="container mt-4">
        {% include 'partials/books/gallery_ratings.html' %}
    </div>

    <div id="reviews-filter-container" class="container mt-4">
        {% include 'partials/books/gallery_reviews_filter.html' %}
    </div>

        <div class="container mt-4">
            <button class="shadow-none cat-btn" data-bs-toggle="collapse" data-bs-target="#yearCollapse">Year read</button>
            <div class="collapse show" id="yearCollapse">

                <div>
                    {% for year in year_read %}
                            {% if year.year_read %}
                             <a href="#" id="{{year.year_read}}" hx-get="/books/year-filter?year={{year.year_read}}" hx-trigger="click" hx-target="#content-div" hx-swap="show:window:top">{{year.year_read}} ({{year.num_books}})</a>
                            <br>
                            {% endif %}
                        {% if year.year_read == None %}
                            <a href="#" id="no-year-filter" hx-get="/books/year-filter?year=1" hx-trigger="click" hx-target="#content-div" hx-swap="show:window:top">No reading date ({{year.num_books}})</a>
                            <br>
                        {% endif %}
                    {% endfor %}
                </div>

    </div>
    </div>
</div>

<div>
<div id="search-bar">
    {% include 'partials/books/book_search.html' %}
</div>

<div id="content-div">
    {% include 'partials/books/book_covers.html' %}
</div>
<div class="overlay" id="overlay">

    {% include 'partials/books/gallery_overlay.html' %}
</div>
</div>




<div id="right-sidebar">

    <div id="genres-div">
    {% if genres %}
        <div id="genres-sticky">
        <div style="text-align: center;">Genres filter (read shelf)</div>
        </div>
        <div id="genres-content">
        {% for genre in genres %}
            <a href="#" hx-get="/books/genre-filter?genre={{genre.name}}" hx-trigger="click" hx-target="#content-div" hx-swap="show:window:top">
            {{genre.name}} ({{genre.total}})
            </a>
            <br>
        {% endfor %}
{% endif %}
</div>
</div>

</div>

</body>



{% endblock content %}

{% block scripts %}
                {{ block.super }}
                <script src="{% static 'js/book/book-gallery.js' %}"></script>
{% endblock %}