{% extends "_base.html" %}

{% load static %}

{% block title %}Books world{% endblock title %}

{% block additional_includes %}
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/base.css">
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/books/book-map.css">

     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />

     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster.layersupport@2.0.1/dist/leaflet.markercluster.layersupport.js"></script>

{% endblock additional_includes %}

{% block content %}


<body>

<div id="left-sidebar" class="{% if emptyLoc != 0 %}hidden{% endif %}">

    <div class="sidebar-title">Popular locations</div>
            {% for location in locations_stats %}
                <span>{{ location.0 }}</span>: <span>{{ location.1 }}</span> <br>
            {% endfor %}
    </div>

    <div id="get-locations-container" class="{% if emptyLoc == 0 %}hidden{% endif %}">

            <div>New locations found. <br>
                Get location data from local database <br>
            </div>
                <form action='/books/import/local_location/'>
             <br/>
             <button type="submit" value="Get location data" class="btn btn-secondary shadow-none" id="locButton">Get location data</button>
        </form>
        </div>



         <div id="map" class="map-container"></div>

        <div id="booksData">
            <div id="booksLocation" class="sidebar-title"></div>
            <div id="booksList"></div>
        </div>


{{ locations|json_script:"locations_json" }}
<script>
    let emptyLoc = {{ emptyLoc|safe }};
    let bookMarkerPath = '{% static 'images/book-marker.png' %}';
    let bookMarkerClearPath = '{% static 'images/book-marker-clear.png' %}';
</script>

{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'themes/' %}{{ active_theme }}/js/books/book-map.js"></script>
{% endblock %}

</body>

