{% extends "_base.html" %}

{% load static %}

{% block title %}{{ book.title }}{% endblock title %}

{% block additional_includes %}
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/base.css">
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/books/book-detail.css">
{% endblock additional_includes %}

{% block content %}
    <script>
        var data = "{{book|safe}}"
    </script>

    <div id="book-container">

    <!-- Left column: Title, Author, and Description -->
    <div id="book-metadata">

        <h1>{{ book.title }}</h1>

        <h3><a href="http://127.0.0.1:8000/books/authors/{{review.0}}">{{ review.2 }}</a></h3>
        <br>


        <div class="book-metadata">
            {% if book.publisher %}<div><strong>Publisher:</strong> {{ book.publisher }}</div>{% endif %}
            {% if book.publish_date %}<div><strong>Publish date:</strong> {{ book.format_publish_date }}</div>{% endif %}
            {% if review.6 %}<div><strong>Original publication year:</strong> {{ review.6 }}</div>{% endif %}
            {% if book.number_of_pages > 0 %}<div><strong>Pages:</strong> {{ book.number_of_pages }}</div>{% endif %}
            {% if book.language %}<div><strong>Language:</strong> {{ book.language }}</div>{% endif %}
        </div>

        <div class="book-lists">
            {% if book.list_series %}
                <div><strong>Series:</strong> {% for series in book.list_series %}<span class="tag">{{ series }}</span>{% endfor %}</div>
            {% endif %}
            {% if book.list_genres %}
                <div><strong>Genres:</strong> {% for genre in book.list_genres %}<span class="tag">{{ genre }}</span>{% endfor %}</div>
            {% endif %}
            {% if book.list_places %}
                <div><strong>Setting:</strong> {% for place in book.list_places %}<span class="tag">{{ place }}</span>{% endfor %}</div>
            {% endif %}
            {% if book.list_characters %}
                <div><strong>Characters:</strong> {% for character in book.list_characters %}<span class="tag">{{ character }}</span>{% endfor %}</div>
            {% endif %}
        </div>
    </div>

    <!-- Right column: Image, Rating, Bookshelf, Date read -->
    <div id="book-personal-info">

        <div id="book-cover">
            {% if book.cover_local_path %}
                <img src="/media/{{book.cover_local_path}}">
            {% else %}
                <img src="{{book.image_url}}">
            {% endif %}
        </div>

        {% if review.3 != 0 %}
            <div>Rating: {{review.3}}</div>
        {% endif %}

        <div>Bookshelf: {{ review.4 }}</div>
        {% if review.5 %}
            <div>Date read: {{ review.5 }}</div>
        {% endif %}
        <div>
            <a href= {{ book.url }} class="external-link"><img src="{% static 'images/gr-bw.png' %}"></a>
        </div>
        <br>

    </div>

</div>

    <div id="book-description">
        {% if book.description %}
            <p>{{ book.description }}</p>
        {% endif %}

        {% if review.7 %}
            <p><span class="bold">Review:</span> {{ review.7 }}</p>
        {% endif %}

    </div>



{% endblock content %}