{% extends "_base.html" %}
{% load static %}
{% block title %}Quotes{% endblock title %}

{% block additional_includes %}
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/base.css">
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/books/quotes.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
{% endblock additional_includes %}

{% block content %}

<div id="left-sidebar">

</div>

<div id="title-bar"></div>

<div id="grid" class="grid-container">
    {% include 'partials/books/quotes/quotes.html' %}
</div>

<div id="right-sidebar">

    <div id="tags-div">
        {% include 'partials/books/quotes/quotes_tags.html' %}
    </div>

</div>

{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'themes/' %}{{ active_theme }}/js/books/quotes.js"></script>
{% endblock %}