.hidden {
  display: none;
}

#currently-reading-container {
  position: fixed;
  left: 30px;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  width: 17%;
  max-width: 500px;
}

#book-list {
  overflow-y: auto;
}

#currently-reading-container h3 {
  text-align: center;
}

.currently-reading-link {
  display: block;
  overflow: hidden;
  border-radius: 6px;
}

.currently-reading {
  display: flex;
  align-items: center;
  padding: 8px;
  transition: background-color 0.2s ease, transform 0.2s ease;
  border-radius: 6px;
  margin-bottom: 4px;
  margin-left: 8px;
  filter: grayscale(30%);
  transform-origin: center;
}

.currently-reading:hover {
  background-color: #cde6fb;
  transform: scale(1.08);
  cursor: pointer;
  color: black;
  filter: none;
}

.book-cover-image {
  height: 75px;
  width: 50px;
}

.book-title {
  flex: 1;
  margin-left: 16px;
}

.currently-reading-link {
  text-decoration: none;
  color: #38444d;
  font-size: 0.875rem;
}

#sidebar-menu {
  position: fixed;
  bottom: 30px;
  left: 30px;
}

.menu-item {
  color: #38444d;
  transition: color 0.3s ease;
}

.menu-item:hover {
  color: #e74c3c;
  cursor: pointer;
}

#home-content {
  width: 60vw;
  max-width: 2000px;
  margin: 40px auto;
  min-height:calc(100vh - 200px);
}

#changelog {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  float: right;
  color: #b0c4de;
  transition: color 0.3s ease, transform 0.3s ease;
}

.close-btn::before {
  content: '✕';
  font-size: 1.5rem;
}

.close-btn:hover {
  color: #e74c3c;
  transform: scale(1.1);
}

.close-btn:active {
  transform: scale(0.95);
}

.close-btn:focus {
  outline: 2px solid #b0c4de;
  outline-offset: 2px;
}

.changelog-header {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.release-version {
  font-size: 1.5rem;
}

.release-date {
  color: #38444d;
}

li {
  color: #38444d;
}

section {
  margin-bottom: 24px;
}

article {
  margin-bottom: 64px;
}

.invisible {
  visibility: hidden;
}

#calendar {
  position: fixed;
  width: 16%;
  max-width: 500px;
  top: 80px;
  right: 12px;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: black;
  text-align: center;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
}

.calendar-title {
  font-size: 1.375rem;
  font-weight: bold;
  color: black;
  text-align: left;
}

.calendar-nav {
  display: flex;
  gap: 4px;
}

.calendar-nav button {
  background: #f9f9f9;
  color: #38444d;
  border: none;
  padding: 6px 6px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.calendar-nav button:hover {
  background: #55606d;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #38444d;
  padding: 12px 4px;
  font-size: 0.813rem;
  text-transform: uppercase;
  color: white;
}

td {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  transition: background 0.2s ease-in-out;
}

td:not(.has-event) {
  color: #4d4d4d;
}

.current-day {
  background-color: #ff5252 !important;
  color: white !important;
  font-weight: bold;
  border-radius: 6px;
}

.has-event {
  background-color: rgba(102, 186, 255, 0.3);
  color: black;
  border-radius: 6px;
}

.has-event:hover {
  background-color: rgba(102, 186, 255, 0.5);
  cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(px);
    }
}

#book-events {
  padding: 16px 24px;
  color: black;
  animation: fadeIn 0.3s ease-in-out forwards;
}

#event-date {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 4rem;
  color: black;
  text-align: center;
}

.section-title {
  margin-top: 2rem;
  border-bottom: 2px solid #a6a6a6;
  margin-left: 8.25rem;
}

.books-flex-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.year-group {
  display: flex;
  gap: 2rem;
  position: relative;
}

.year {
  flex: 0 0 6rem;
  text-align: right;
  font-weight: bold;
  font-size: 1.25rem;
  color: black;
  padding-right: 1rem;
  position: relative;
}

.year::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2px;
  background: #a6a6a6;
  transform: translateX(1rem);
}

.books-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.book a {
  color: black;
  text-decoration: none;
  line-height: 1.4;
  transition: background-color 0.2s ease;
}

.book a:hover {
  cursor: pointer;
  color: #e74c3c;
}

.quotes-section {
  margin-top: 4rem;
}

.quotes-flex-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.quotes-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quote {
  color: #38444d;
  font-style: italic;
  line-height: 1.6;
  background-color: #cde6fb;;
  border-radius: 30px 0;
  padding: 12px;
}

.quote-source {
  font-style: normal;
  text-align: right;
}

.quote-source a {
  color: black;
  text-decoration: none;
}

.quote-source a:hover {
  cursor: pointer;
  color: #e74c3c;
}