.hidden {
  display: none;
}

#sidebar-menu {
  position: fixed;
  bottom: 40px;
  left: 40px;
}

.menu-item {
  color: #38444d;
  transition: color 0.3s ease;
}

.menu-item:hover {
  color: #e74c3c;
  cursor: pointer;
}

#home-content {
  width: 60vw;
  max-width: 1000px;
  margin: 40px auto;
  min-height:calc(100vh - 200px);
  max-width: 1024px;
}

#changelog {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.event-type {
  width: 100%;
  background-color: #d0d8e2;
  text-align: center;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  float: right;
  color: #b0c4de;
  transition: color 0.3s ease, transform 0.3s ease;
}

.close-btn::before {
  content: '✕';
  font-size: 1.5rem;
}

.close-btn:hover {
  color: #e74c3c;
  transform: scale(1.1);
}

.close-btn:active {
  transform: scale(0.95);
}

.close-btn:focus {
  outline: 2px solid #b0c4de;
  outline-offset: 2px;
}

.changelog-header {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.release-version {
  font-size: 1.5rem;
}

.release-date {
  color: #38444d;
}

li {
  color: #38444d;
}

section {
  margin-bottom: 24px;
}

article {
  margin-bottom: 64px;
}

.invisible {
  visibility: hidden;
}

#calendar {
  position: absolute;
  top: 80px;
  right: 12px;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: black;
  text-align: center;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
}

.calendar-title {
  font-size: 1.375rem;
  font-weight: bold;
  color: black;
  text-align: left;
}

.calendar-nav {
  display: flex;
  gap: 4px;
}

.calendar-nav button {
  background: #f9f9f9;
  color: #38444d;
  border: none;
  padding: 6px 6px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.calendar-nav button:hover {
  background: #55606d;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #38444d;
  padding: 12px 4px;
  font-size: 0.813rem;
  text-transform: uppercase;
  color: white;
}

td {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  transition: background 0.2s ease-in-out;
}

td:not(.has-event) {
  color: #4d4d4d;
}

.current-day {
  background-color: #ff5252 !important;
  color: white !important;
  font-weight: bold;
  border-radius: 6px;
}

.has-event {
  background-color: rgba(102, 186, 255, 0.3);
  color: black;
  border-radius: 6px;
}

.has-event:hover {
  background-color: rgba(102, 186, 255, 0.5);
  cursor: pointer;
}
