<div id="setting-form-content" class="setting-form-content">
    <div class="form-title">
        Change password
    </div>

    <form method="post" hx-post="/accounts/change_password/"
          hx-target="#setting-form" class="form-content">
        {% csrf_token %}

        <div>
            Logged in as: {{ user.username }}
        </div>

        <div class="form-group">
            <label for="old_password">Current password: </label>
            <input type="password" id="old_password" name="old_password">
        </div>

        <div class="form-group">
            <label for="new_password1">New password: </label>
            <input type="password" id="new_password1" name="new_password1">
        </div>

        <div class="form-group">
            <label for="new_password2">Confirm new password: </label>
            <input type="password" id="new_password2" name="new_password2">
        </div>

        <div>
            <button type="submit">Save changes</button>
            <button type="button" class="cancel-btn" onclick="closeOverlay()">Cancel</button>
        </div>
    </form>

    {% if error %}
         <div class="form-message error fade-out">{{ error }}</div>
    {% endif %}

</div>