<div class="current-setting">
    <div class="centered-title">
         Import data
    </div>

    <div class="setting-content centered-form">


    <form action="/accounts/import_review_data/" enctype="multipart/form-data" method="post"
        class="form-content">
        {% csrf_token %}
        <div class="form-fields">
            {{ form }}
        </div>

        <div class="small-label">
            <input type="checkbox" name="ignore-shelf" id="ignore-shelf">
            <label for="ignore-shelf">Ignore "to-read" shelf</label>
        </div>

        <button type="submit" class="submit-btn">Submit</button>
    </form>


    <form action="{% url 'import_quotes_csv' %}" method="post" enctype="multipart/form-data" class="form-content">
      {% csrf_token %}
        <div class="form-fields">
          <label for="quotes-file">Import quotes:</label>
          <input type="file" name="quotes-file" id="quotes-file">
        </div>

        <div class="small-label">
            <input type="checkbox" name="quotes-url" id="quotes-url">
            <label for="quotes-url">Use quote URL for matching</label>
        </div>

        <button type="submit" class="submit-btn">Submit</button>
    </form>

    </div>

    <div id="setting-form"></div>

</div>

{% if books_to_scrape_count %}
    <div id="scraping-section">
        <div id="count-update" class="scrape-item">
            {% include 'partials/account/scrape_status_update.html' %}
        </div>
        <button id="scraping-btn" type="button" class="btn scrape-btn scrape-item" hx-get="/scrapers/start" hx-target="#status-update"
                onclick="this.style.display='none'">Get book metadata</button>
        <div id="status-update" class="scrape-item"></div>
    </div>
{% endif %}

<!--
<div class="data-clear-section" style="margin-top: 200px;">
    <form action="/books/import/clear_user_data/" method="post">
        {% csrf_token %}
        <button type="submit" class="btn-danger clear-btn" name="clear_user_data"
                onclick="return confirm('Are you sure you want to clear user data? Consider first exporting data as CSV.');">Clear User Data</button>
    </form>

    <form action="/books/import/delete-all-quotes/" method="post">
        {% csrf_token %}
        <button type="submit" class="btn-danger clear-btn" name="clear_user_data"
                onclick="return confirm('Are you sure you want to delete all quotes?');">Clear All Quotes</button>
    </form>

    <form action="/books/import/clear_scraped_data/" method="post">
        {% csrf_token %}
        <button type="submit" class="btn-danger clear-btn" name="clear_scraped_data"
                onclick="return confirm('Are you sure you want to clear all data?');">Clear All Data</button>
    </form>
</div>
-->
