
.hidden {
    display: none;
}

#left-sidebar {
  position: fixed;
  top: 100px;
  left: 15px;
  width: 220px;
  background-color: #eff2f5;
  margin-right: 20px;
  border-radius: 8px;
}

#left-sidebar span {
  color: black;
  font-size: 0.875rem;
}

.sidebar-title {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  margin: 10px 0 5px;
  color: #38444d;
}

#left-sidebar div {
    margin-bottom: 10px;
}

#locButton {
    margin-bottom: 10px;
}

#booksData {
  position: fixed;
  top: 100px;
  right: 15px;
  width: 220px;
  height: calc(100vh - 160px);
  background-color: #eff2f5;
  padding: 10px;
  border-radius: 8px;
}

#booksLocation {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

#booksList {
  margin-top: 20px;
  height: 90%;
  overflow-y: auto;
}

#booksList span{
  font-size: 0.8rem;
  color: black;
}

.map-container {
  height: 85vh;
  margin-left: 250px;
  margin-right: 280px;
  margin-top: 40px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.book-item {
    animation: slideIn 0.5s ease-in-out;
}