#left-sidebar {
    position: fixed;
    top: 100px;
    left: 50px;
    width: 200px;
    margin-right: 20px;
}

#left-sidebar div {
    margin-bottom: 10px;
}

input[type="checkbox"],
input[type="checkbox"]+label{
  cursor:pointer;
  }

a {
    color: black;
}

td {
    font-size: 0.875rem;
}

#main-container {
  margin: 40px 240px;

}