{% extends "_base.html" %}

{% load static %}

{% block title %}Influences graph{% endblock title %}

{% block additional_includes %}
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/base.css">
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/authors/author-graph.css">
{% endblock additional_includes %}

{% block content %}

<div id="left-sidebar">
    <h4>Graph of influences</h4>
    <a href="{% url 'author_graph_3d' %}" class="button-link">Switch to 3D</a>
</div>

<div id="influence-chart" class="chart-container chart"></div>

<div id="info-div">
    <div id="info-title"></div>
    <div id="info-list"></div>
</div>

<script>
    var authorData = {{ data|safe }};
</script>


{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
    <script src="{% static 'themes/' %}{{ active_theme }}/js/stats/echarts-theme.js"></script>
    <script src="{% static 'themes/' %}{{ active_theme }}/js/authors/author-graph.js"></script>

{% endblock %}
