{% extends "_base.html" %}

{% load static %}

{% block content %}

{% block title %}Authors' stats{% endblock title %}
<head>
    <link rel="stylesheet" href="{% static 'css/authors/author-stats.css' %}">
</head>

<body>
    <div class="tab-buttons-container">
        <button class="tab-button" onclick="showTab('awards-stats')">Awards Stats</button>
        <button class="tab-button" onclick="showTab('author-stats')">Author Stats</button>
        <button class="tab-button" onclick="showTab('genres-stats')">Genres Stats</button>
    </div>

     <!-- First Tab -->
    <div id="awards-stats-container" class="tab-container active-tab">
        <div class="chart-container">
            <div id="awards-stats" class="tab" style="width: 1200px; height: 600px;"></div>
            <div class="range-container">
                <div class="sliders-control">
                    <input id="fromSlider" type="range" value="0" min="0" />
                    <input id="toSlider" type="range" value="30" min="0" />
                </div>
                <div id="slider-text">
                    <div>Value min: <span id="valueMin"></span></div>
                    <div>Value max: <span id="valueMax"></span></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Tab -->
    <div id="author-stats-container" class="tab-container">
        <div id="facts">
            <div id="author-stats" class="tab" style="width: 1200px; height: 550px;"></div>

            <div class="facts"><b>Fun facts:</b> you have read a total of <b><span id="noPages">{{ pages.0 }}</span> pages.</b><br>
            Assuming that each page have a weight of 2 grams, the estimated total weight would be around
                <b><span id="pageWeightGrams"></span> grams</b> or <b><span id="pageWeightKg"></span> kg.</b><br>
            Stacked up, at a thickness of 0.1 mm per page, it would reach approximately <b><span id="heightCm"></span>
                centimeters</b> or <b><span id="heightM"></span> meters.</b> <br>
            At an average of 1500 characters per page and 0.25 mm per character, if you were to align them in a single line,<br>
                the total length would be approximately <b><span id="lengthM"></span> meters</b> or <b><span id="lengthKm"></span> kilometers.</b><br>
            At an average reading speed 2 minutes per page, your reading time is estimated to be at <b><span id="timeH"></span> hours</b><br>
                or <b><span id="timeD"></span> days</b> or <b><span id="timeY"></span> years</b>.
            </div>

        </div>
    </div>

    <!-- Third Tab -->
    <div id="genres-stats-container" class="tab-container">
        <div id="genres-stats" class="tab" style="width: 1000px; height: 600px;"></div>

    </div>

    <script>
        var authorStats = [
            {% for author in data %}
                ['{{ author.0 }}', {{ author.1 }}, {{ author.2 }}],
            {% endfor %}
        ];

        var awardsData = [
            {% for award in awards %}
                ['{{ award.0 }}', '{{ award.1 }}', {{ award.2 }}],
            {% endfor %}
        ];

        var pages = {{ pages.0|safe }}
        var genresData = {{ genres|safe }}

    </script>
{% endblock content %}

{% block scripts %}
                {{ block.super }}
                <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
                <script src="{% static 'js/vintage.js' %}"></script>
                <script src="{% static 'js/author/author-stats.js' %}"></script>

{% endblock %}
</body>