{% extends "_base.html" %}

{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/authors/author-graph.css' %}">
</head>
<body>

<div id="left-sidebar">
    <h4>Graph of influences</h4>
    <a href="{% url 'author_graph_3d' %}">Switch to 3d</a>
</div>

<div id="main" style="width: 1300px; height: 840px;"></div>
<script>
    var authorData = {{ data|safe }};
</script>


{% endblock content %}

{% block scripts %}
                {{ block.super }}
                <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
                <script src="{% static 'js/vintage.js' %}"></script>
                <script src="{% static 'js/author/author-graph.js' %}"></script>

{% endblock %}
</body>