{% extends "_base.html" %}

{% load static %}

{% block title %}Authors{% endblock title %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/authors/author-list.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css">
</head>

<body>

    <table id="authors-table" class="hover compact" style="width:100%">
        <thead>
            <th>Name</th>
            <th>Birth date</th>
            <th>Death date</th>
            <th>Average rating</th>
            <th>Ratings count</th>
            <th>Reviews count</th>
            <th>Genres</th>
        </thead>

            {% for author in author_list %}
            <tr>
            <td><a href="{{ author.get_absolute_url }}">{{ author.name }}</a></td>
            <td> {{ author.format_bdate }} </td>
            <td> {{ author.format_ddate }} </td>
            <td> {{ author.avg_rating }} </td>
            <td> {{ author.rating_count }} </td>
            <td> {{ author.reviews_count }} </td>
            <td>  {% for genre in author.list_genres %} <span>{{ genre }}</span> {% endfor %} </td>
            {% endfor %}
             </tr>
        </table>

</body>
{% endblock content %}

{% block scripts %}
        {{ block.super }}
        <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.8/date-1.5.1/datatables.min.css" rel="stylesheet">
        <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.8/date-1.5.1/datatables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
        <script src="{% static 'js/author/author-list.js' %}"></script>
{% endblock %}

