{% extends "_base.html" %}

{% load static %}

{% block title %}Author timeline{% endblock title %}

{% block additional_includes %}
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/base.css">
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/authors/author-timeline.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.js"></script>
{% endblock additional_includes %}


{% block content %}
    <div class="chart-controls">
        <div class="input-container">
            <input id="peopleFilter" type="text" placeholder="Add to chart...">
        </div>
        <button id="addPersonButton">Add to Chart</button>
        <button id="showAllButton">Show All</button>
    </div>
    <br>
    <div id="timespanChart"></div>

    <script>
        var peopleData = {{ people_data|safe }};

        const input = document.getElementById('peopleFilter');
        const awesomplete = new Awesomplete(input, { list: [] });

        const peopleNames = peopleData.map(person => person.name);
        awesomplete.list = peopleNames;

    </script>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static 'themes/' %}{{ active_theme }}/js/authors/author-timeline.js"></script>
{% endblock %}
</body>