{% extends "_base.html" %}

{% load static %}

{% block title %}Influences graph 3D{% endblock title %}

{% block additional_includes %}
  <style>
      body {overflow: hidden;}
  </style>
{% endblock additional_includes %}

<!-- libraries for text rendering in nodes
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://unpkg.com/three-spritetext"></script>
</head>
-->

{% block content %}

<div id="3d-graph"></div>
<script>
    var authorData = {{ graph_data|safe }};
</script>


{% endblock content %}

{% block scripts %}
    <script src="//unpkg.com/3d-force-graph"></script>
    <script src="{% static 'themes/' %}{{ user.get_theme_name }}/js/authors/author-graph-3d.js"></script>
{% endblock %}
