{% extends "_base.html" %}

{% block title %}{{ object.name }}{% endblock title %}

{% block content %}

<div class="book-detail">
        <h2>{{ author.name }}</h2>

        <div>Birth date: {{ author.format_bdate }}</div>
        <div>Death date: {{ author.format_ddate }}</div>

        <p>Genres: {{ author.genres }}</p>
        <p>Influences: {{ author.influences }}</p>
        <div>Average rating: {{ author.avg_rating }}</div>
        <div>Ratings count: {{ author.rating_count }}</div>
        <div>Reviews count: {{ author.reviews_count }}</div>
        <p>About: {{ author.about }}</p>


</div>

{% endblock content %}