{% extends "_base.html" %}

{% load static %}

{% block title %}Authors' timeline{% endblock title %}
<body>

{% block content %}
    <div>
        <input id="peopleFilter" type="text" placeholder="Add to chart...">
        <button id="addPersonButton" class="btn btn-secondary shadow-none">Add to Chart</button>
    </div>
    <br>
    <button id="showAllButton" class="btn btn-secondary shadow-none">Show All</button>

    <button id="clearChartButton" class="btn btn-secondary shadow-none">Clear Chart</button>

    <div id="timespanChart"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.js"></script>
    <script>
        var peopleData = {{ people_data|safe }};

        const input = document.getElementById('peopleFilter');
        const awesomplete = new Awesomplete(input, { list: [] });

        // Initialize the Awesomplete list with people's names
        const peopleNames = peopleData.map(person => person.name);
        awesomplete.list = peopleNames;

    </script>
{% endblock content %}

{% block scripts %}
                {{ block.super }}

                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <script src="{% static 'js/author/author-timeline.js' %}"></script>

{% endblock %}
</body>