#author-detail {
  padding: 20px;
  width: 70%;
  margin: auto;
}

a img {
  margin-top: 5px;
  height: 30px;
}

.tag {
    display: inline-block;
    background-color: #e0e0e0;
    padding: 5px 8px;
    margin: 3px;
    border-radius: 12px;
    font-size: 0.875rem;
}

#content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 20px;
}

#showMore {
  cursor: pointer;
  color: black;
}

#showLess {
  display:none;
  cursor: pointer;
  color: black;
}

#book-list {
  margin-top: 50px;
}

#books-table {
  width: 60%;
}

#books-table a {
  color: black;
}