
.hidden {
    display: none;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#left-sidebar {
    position: fixed;
    top: 80px;
    left: 20px;
    width: 250px;
    margin-right: 10px;
}

#left-sidebar div {
    margin-bottom: 10px;
}

#left-sidebar a {
    color: black;
    font-size: 14px;
}

#left-sidebar a:hover {
    background-color: #d9d9d9;
}

#options-bottom {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.cat-btn {
    color: black;
    width: 100%;
}
/*
div {
    border-width: 1px;
    border-color: red;
    border-style: solid;
}
*/
#content-div {
    display: flex;
    align-items: flex-start;
}

#list-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
}

#book-list-content {
    margin-top: 20px;
    height: 100%;
    overflow-y: auto;
}

.read-book {
    background-color: #ccffcc;
}

#list-div a{
    color: black;
    font-size: 16x;
}

#list-div a:hover{
    background-color: #d9d9d9;
}

#detail-div {
    position: sticky;
    padding: 40px;
    top: 120px;
    flex: 2.3;
    margin-left: 50px;
}

#detail-div a{
    color: black;
}

input[type="checkbox"],
input[type="checkbox"]+label{
  cursor:pointer;
}

#right-sidebar {
    position: fixed;

    top: 80px;
    right: 10px;
    width: 250px;
    height: calc(100vh - 100px);
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
}

#genres-div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#genres-content {
    margin-top: 20px;
    height: 100%;
    overflow-y: auto;
}

#right-sidebar div {
    font-size: 14px;
    margin-bottom: 5px;
}

#right-sidebar a{
  color: black;

}

#right-sidebar a:hover{
  background-color: #d9d9d9;

}

#clearGenresButton {
    color: black;
    width: 100%;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

.fade-out {
    animation: fadeOut 5s ease forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}