{% if tags %}
    <div id="tags-content">
        {% if no_tags_count %}
            <a href="#" class="tag-link" data-tag="no-tags" hx-get="/books/quotes-tag-filter?tag=no_tag" hx-trigger="click" hx-target="#grid" hx-swap="show:window:top">
                no-tags ({{ no_tags_count }})
            </a>
            <br>
        {% endif %}

        {% for tag in tags %}
            <a href="#" class="tag-link" data-tag="{{ tag.name|lower }}" hx-get="/books/quotes-tag-filter?tag={{ tag.name }}" hx-trigger="click" hx-target="#grid" hx-swap="show:window:top">
                {{ tag.name }} ({{ tag.total }})
            </a>
            <br>
        {% endfor %}
    </div>
{% endif %}