{% for quote in quotes %}
    <div class="quote-container fade-in {% if quote.favorite %} favorite {% endif %}" id="quote-{{ quote.id }}">
        <div class="quote">
            <span class="quote-text" id="quote-text-{{ quote.id }}">{{quote.text|linebreaksbr}}</span>
        </div>

        <div class="quote-book-container">

            <div class="fav-quote">
                <label class="quote-fav-label">
                    <input type="checkbox" {% if quote.favorite %} checked {% endif %} class="quote-fav" id="checkbox-{{ quote.id }}" name="checkbox-{{ quote.id }}"
                        hx-get="{% url 'favorite_quote' quote.id %}"
                        hx-target="#backend-update-{{quote.id}}"
                        hx-on="htmx:afterRequest: document.querySelector('#update-fav-sidebar').click();">
                    <i class="fa fa-star" aria-hidden="true"></i>
                </label>

                <div id="backend-update-{{quote.id}}" class="backend-update"></div>

            </div>
            <div class="quote-book">
                <span class="book-title">{{ quote.book.title }}</span>
            </div>

            <div class="quote-icons">
                <a href="{% url 'book_detail' quote.book.goodreads_id %}" target="_blank"><i class="fa fa-external-link hidden-icon" aria-hidden="true"></i> </a>

                <i class="fa fa-trash-o hidden-icon" aria-hidden="true"
                hx-delete="{% url 'delete_quote' quote.id %}"
                hx-target="closest .quote-container" hx-swap="outerHTML swap:1s"
                hx-confirm="Are you sure you want to delete the quote: {{ quote.text }} ?"
                hx-on="htmx:afterRequest: document.querySelector('#update-fav-sidebar').click();
                                          document.querySelector('#update-tags-sidebar').click();
                                          document.querySelector('#update-books-sidebar').click();">
                </i>
            </div>

        </div>

    </div>
{% endfor %}

<div id="title-bar" class="fade-in">
  {% if tag %}
    <h3>Tag: {{ tag }}</h3>
  {% elif fav_title %}
    <h3>{{ fav_title }}</h3>
  {% elif book_title %}
    <h3>{{ book_title }}</h3>
  {% elif search_text %}
    <h3>Search results: {{ search_text }} ({{ results_no }})</h3>
  {% endif %}
</div>