.tab-container {
    display: none;
}

.active-tab {
    display: block;
}


.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.chart {
  width: calc(70% - 100px);
  height: 70vh;
}

.sidebar {
    position: fixed;
    width: 200px;
    background-color: #151b23;
    padding: 20px;
}

.tab-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between buttons */
}

/* Button styles */
.tab-button {
    padding: 10px;
    background-color: #38444d;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: left; /* Align text to the left */
    font-size: 16px;
    color: white;
}

.tab-button:hover {
    background-color: #151b23;
}


.range-slider {
  margin-top: 80px;
  bottom: 20px;
  width: 40%;
}

#awards-range-slider .noUi-base {
  background-color: #151b23;
  border-radius: 10px;
}

#awards-range-slider .noUi-connect {
  background: #73b9bc;
}

#awards-range-slider .noUi-tooltip {
  background: #151b23;
  color: #fff;
  border-radius: 4px;
  padding: 5px 10px;
}

#awardsData {
  position: fixed;
  top: 90px;
  right: 10px;
  width: 250px;
  height: calc(100vh - 150px);
  padding: 10px;
}

#awardsDataTitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#awardsList {
    margin-top: 30px;
    height: 90%;
    overflow-y: auto;
}

#awardsList span{
    font-size: 14px;
}

#btn-switch {
  display: none;
}

#toggleLabel {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #38444d;
  color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.facts {
  font-size: 1.25rem;
}
