.hidden {
  display: none;
}

#left-sidebar {
  position: fixed;
  top: 100px;
  left: 5px;
  width: 250px;
  padding: 10px;
  border-radius: 8px;
  overflow-y: auto;
}

.category-section {
  margin-bottom: 15px;
  transition: max-height 0.2s ease-out;
  border: 2px solid #424d57;
  border-radius: 8px;
  background-color: #eff2f5;
}

.cat-btn {
  background-color: transparent;
  border: none;
  color: #38444d;
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
  padding: 10px 5px;
  cursor: pointer;
  transition: color 0.3s ease;
  gap: 8px;
}

.cat-btn:hover {
  color: #e74c3c;
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(60deg);
}

.list-links {
  padding-left: 4px;
  font-size: 0.875rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.list-links.show {
  max-height: 500px;
}

.list-links a {
  color: #38444d;
  text-decoration: none;
  display: block;
  transition: color 0.3s ease;
}

.list-links a:hover {
  color: black;
}

.list-links a.active-link {
  color: black;
  font-weight: bold;
}

#options-bottom {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

#options-bottom a {
  color: #38444d;
  text-decoration: none;
  transition: color 0.3s ease;
}

#options-bottom a:hover {
  color: #e74c3c;
}

#content-div {
  display: flex;
  align-items: flex-start;
  padding-left: 300px;
  padding-right: 300px;
}

#list-div {
  flex: 1;
  display: flex;
  max-width: 350px;
  flex-direction: column;
  height: calc(100vh - 100px);
}

#book-list-content {
  margin-top: 20px;
  height: 100%;
  overflow-y: auto;
}

#list-div a {
  text-decoration: none;
  color: #38444d;
  font-size: 0.875rem;
  padding-left: 4px;
}

#list-div a:hover {
  color: black;
}

.read-book {
  background-color: rgba(76, 175, 80, 0.2);
  padding: 2px 2px;
  border-radius: 4px;
  position: relative;
  display: inline-block;
}

.read-book::after {
  content: "✔";
  color: #4caf50;
  font-size: 0.9em;
  margin-left: 6px;
  position: relative;
  top: 1px;
}

h3, h4 {
  text-align: center;
}

#detail-div {
  position: sticky;
  padding: 40px;
  top: 120px;
  flex: 2.3;
  margin-left: 50px;
}

input[type="checkbox"],
input[type="checkbox"]+label{
  cursor:pointer;
  color: #38444d;
}

#right-sidebar {
  position: fixed;
  top: 100px;
  right: 5px;
  width: 220px;
  border-radius: 8px;
  height: calc(100vh - 130px);
  background-color: #eff2f5;
  padding: 10px;
}

#genres-div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#genres-content {
  margin-top: 20px;
  padding-bottom: 16px;
  height: 100%;
  overflow-y: auto;
}

#right-sidebar div {
  font-size: 0.813rem;
  margin-bottom: 5px;
}

#right-sidebar a {
  color: #38444d;
  text-decoration: none;
}

#right-sidebar a:hover{
  color: black;
}

#clearGenresButton {
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#clearGenresButton:hover {
  background-color: #c0392b;
}

#book-content {
  display: flex;
  align-items: flex-start;
}

#book-info {
  flex: 2;
  margin-right: 20px;
  font-size: 0.875rem;
}

#book-info a {
  color: #38444d;
}

#book-info span {
  color: #38444d;
}

#book-info .contributor {
  font-size: 1.125rem;
  color: black;
}

#read-status-container {
  margin-top: 32px;
}

#read-status-update {
  margin-top: 12px;
}

#book-cover {
  flex: 1;
  margin-left: 30px;
  margin-bottom: 30px;
}

#book-description {
  font-size: 0.875rem;
  color: #38444d;
}

.list-animation {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.book-animation {
  animation: slideInFromLeft 0.5s ease-out forwards;
}

.cover-animation {
  animation: slideInFromRight 0.5s ease-out forwards;
}

.description-animation {
  animation: slideInFromBottom 0.5s ease-out forwards;
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}

.fade-out-message {
  animation: fadeOutMessage 5s ease forwards;
}

@keyframes fadeOutMessage {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

::-webkit-scrollbar {
  width: 8px;
}


#right-sidebar::-webkit-scrollbar-track {
  background: #151b23;
  border-radius: 10px;
  margin: 4px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6b8294, #a6b4bf);
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #555, #777);
}
