#main-container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

td {
  color: var(--text-color);
  font-size: 0.875rem;
}

.tag {
  display: inline-block;
  background-color: #38444d;
  color: white;
  padding: 1px 3px;
  margin-right: 5px;
  border-radius: 10px;
  font-size: 0.75rem;
}

#authors-table tbody tr {
  transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

#authors-table tbody tr:hover {
  transform: scale(1.02);
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.dt-right {
  text-align: right;
}

#authors-table thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #27323f;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

#authors-table thead th {
  border-bottom: 2px solid #333;
  padding: 10px;
}

.dataTables_filter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.dataTables_filter input[type="search"] {
  background-color: #1e2630;
  color: #ffffff;
  border: 1px solid #333;
  padding: 5px 10px;
  margin-left: 5px;
  transition: border-color 0.3s ease;
}

.dataTables_filter input[type="search"]:focus {
  border-color: #ffffff;
}

.dataTables_length select {
  background-color: #1e2630;
  color: #ffffff;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px 10px;
  transition: border-color 0.3s ease;
}

.dataTables_length select:focus {
  border-color: #ffffff;
}

.dataTables_filter {
  margin-top: -28px;
}

.dataTables_paginate a {
  color: var(--text-color);
  text-decoration: none;
}

.dataTables_paginate li.paginate_button {
  list-style-type: none;
  display: inline-block;
  padding: 6px 10px;
  margin: 0 2px;
  border-radius: 3px;
  font-size: 1rem;
  text-align: center;
  overflow: hidden;
}

#authors-table_paginate .paginate_button:hover {
  background-color: #57718e;
  cursor: pointer;
}

#authors-table_paginate .paginate_button.active {
  background-color: #3a4b5f;
  font-weight: bold;
}

#authors-table_paginate .paginate_button.active a {
  color: white;
}

.dataTables_info {
  color: var(--text-color);
  font-size: 0.9rem;
  padding: 10px 0;
}

.dataTables_info {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.animate-info {
    opacity: 1;
}