#left-sidebar {
  position: fixed;
  top: 100px;
  left: 20px;
  width: 150px;
}

#left-sidebar div {
  margin-bottom: 10px;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #38444d;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.button-link:hover {
  background-color: #0056b3;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart {
  width: 70%;
  height: 85vh;
  margin: 30px auto 0;
}

#info-div {
  position: fixed;
  top: 100px;
  right: 15px;
  width: 220px;
  height: calc(100vh - 160px);
  backdrop-filter: blur(4px);
  padding: 10px;
  font-size: 1rem;
  overflow-y: auto;
}

#info-title {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  margin: 10px 0 20px;
  color: var(--font-color);
  font-size: 1.4rem;
}

#info-list {
  color: var(--font-color);
}

@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateX(-20px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.author-item {
  animation: slideIn 0.5s ease-in-out;
}
