<div class="quote-overlay" >
    <button class="close-btn btn-close" onclick="closeQuoteOverlay()"></button>

    <h2>Add new quote</h2>
    <form hx-post="{% url 'save_new_quote' book_id %}"
          hx-target="#quotes-wrapper"
          hx-swap="beforeend"
          hx-on="htmx:beforeRequest: document.querySelector('#quotes-no-trigger').click();">

        <textarea id="quote-input" name="quote-text" spellcheck="false"></textarea>

        <label for="quote-date">
            Add date:
        </label>
        <input type="date" id="quote-date" name="quote-date" /> <br>

        <label for="quote-page">
            Add page number:
        </label>
        <input type="number" id="quote-page" name="quote-page" min="1" />

        <div id="tag-editor-container">
            <strong><label for="tag-editor" class="tag-label">Tags:</label></strong>
                <input id="tag-editor" name="tags" class="customLook"
                       placeholder="Add a tag">
                <button type="button">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                </button>
        </div>

        <div id="form-buttons">
            <button type="submit">Save</button>
            <button type="button" onclick="closeQuoteOverlay();">Cancel</button>
        </div>
    </form>
</div>


<script>
    showQuoteOverlay();
    adjustTextareaHeight("#quote-input");
</script>