.btn {
  background-color: #38444d;
  color: white;
  border: none;
  padding: 10px 24px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

#back-btn {
  position: absolute;
  left: 3vw;
  top: 12vh;
}

#back-btn:hover {
  background-color: #0056b3;
}

#buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  position: fixed;
  width: 10vw;
  right: 2vw;
  top: 12vh;
}

#remove-form, #scrape-quotes-div {
  width: 10vw;
}

.menu-btn {
  padding: 10px;
  width: 100%;
  border: none;
  background: transparent;
  color: var(--font-color);
  border-radius: 8px;
  border: 2px solid var(--font-color);
  cursor: pointer;
  font-size: 1rem;
}

#remove-btn:hover {
  background-color: #e74c3c;
}

#book-container {
  display: flex;
  padding: 20px;
  width: 65vw;
  margin: auto;
  backdrop-filter: blur(8px);
}

#book-data {
  flex: 2;
  margin-right: 20px;
}

.book-metadata div, .book-lists div {
  margin-bottom: 10px;
}

.tag {
  display: inline-block;
  background-color: #38444d;
  padding: 5px 8px;
  margin: 3px;
  color: white;
  border-radius: 12px;
  font-size: 0.875rem;
}

#book-personal-info {
  flex: 1;
  margin-left: 30px;
  text-align: right;
}

#book-cover img{
  height: 400px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.external-link img {
  height: 30px;
  margin-top: 10px;
}

#book-description {
  padding: 20px;
  width: 65vw;
  margin: auto;
  font-size: 1.1rem;
  line-height: 1.6;
  backdrop-filter: blur(8px);
}

#quotes-container {
  margin-top: 40px;
}

.quote-container {
  border-bottom: 1px solid var(--font-color);
  margin-bottom: 8px;
}

.quote {
  display: flex;
  justify-content: space-between;
}

.quote-text {
  align-self: flex-end;
  font-size: 0.875rem;
  color: var(--font-color);
}

.quote-icons {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 8px;
  opacity: 0;
  visibility: hidden;
  align-items: flex-start;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.quote-container:hover .quote-icons {
  visibility: visible;
  opacity: 1;
}

.quote-icons i {
  cursor: pointer;
  font-size: 1rem;
  color: var(--font-color);
  transition: color 0.3s;
}

.quote-icons i:hover {
  color: #ff6b6b;
}

.quote-tag {
  margin-top: 8px;
  font-size: 0.875rem;
  color: var(--font-color);
}
