<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}SoloScribe{% endblock title %}</title>
    {% block additional_includes %} {% endblock %}
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

<body>
    <nav class="navbar">
        <ul>
          <li><a href="{% url 'home' %}">SoloScribe</a></li>

          <li class="dropdown">
            <a href="#" class="dropbtn">Books</a>
            <div class="dropdown-content">
              <a href="{% url 'book_list' %}">Book list</a>
              <a href="{% url 'book_gallery' %}">Book gallery</a>
              <a href="{% url 'book_map' %}">Book world</a>
              <a href="{% url 'wordcloud_filter' %}">Word cloud</a>
            </div>
          </li>

          <li class="dropdown">
            <a href="#" class="dropbtn">Authors</a>
            <div class="dropdown-content">
              <a href="{% url 'author_list' %}">Author list</a>
              <a href="{% url 'author_timeline' %}">Author timeline</a>
              <a href="{% url 'author_map' %}">Author world</a>
              <a href="{% url 'author_graph' %}">Influence graph</a>
            </div>
          </li>

          <li><a href="{% url 'book_stats' %}">Stats</a></li>
          <li><a href="{% url 'recs_main' %}">Lists</a></li>

          <li class="dropdown">
            <a href="#" class="dropbtn">Profile</a>
            <div class="dropdown-content">
              <a href="{% url 'book_scrape_page' %}">Add new book</a>
              <a href="{% url 'import_csv' %}">Import Goodreads file</a>
              <a href="{% url 'import_recs' %}">Import recs</a>
              <a href="{% url 'export_csv' %}">Export data</a>
              <a href="{% url 'themes' %}">Themes</a>
            </div>
          </li>

        <div id="navbar-search-container">
          <form action="{% url 'search_results' %}" method="get">
            <input type="text" name="q" placeholder="Search..." id="navbar-search-input">
            <button type="submit" id="navbar-search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </div>
        </ul>
    </nav>


    <div id="main-container" class ="container">
        {% block content %}
        {% endblock content %}
    </div>

    {% block scripts %}
        <!-- JavaScript -->
        <script src="{% static 'themes/' %}{{ active_theme }}/js/base.js"></script>
    {% endblock %}
</body>

</html>