{% extends "_base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block additional_includes %}
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/base.css">
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/homepage/homepage.css">
{% endblock additional_includes %}

{% block content %}

<div id="sidebar-menu">
    <!-- to be continued
  <div class="menu-item"
      hx-get="/pikabook/"
      hx-target="#pikabook"
      >Pikabook</div>

    -->

  <div id="changelog-link" class="menu-item"
       hx-get="/changelog/"
       hx-target="#home-content"
       >Changelog</div>
  </div>

<div id="home-content">
    <!-- to be continued
    <div id="pikabook">
        {% include 'partials/homepage/pikabook.html' %}
    </div>
    -->

</div>
    <!-- to be continued
    {% include 'partials/homepage/calendar.html' %}
    -->
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'themes/' %}{{ active_theme }}/js/homepage/homepage.js"></script>
{% endblock %}