@font-face {
  font-family: myFirstFont;
  src: url(font.ttf);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
}

.navbar li {
  float: left;
}

.navbar a, .dropbtn {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown-link {
  width: 100%;
  background: none;
  font: inherit;
  border: none;
  color: black;
}

.dropdown-link:hover {
  background-color: red;
  cursor: pointer;
}

.navbar li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
  cursor: pointer;
}

.navbar li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1500;
  max-width: 18%;
}

.dropdown-content a , .dropdown-link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.current-user {
  margin: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #38444d;
}

.current-user i {
  background-color: #38444d;
  color: white;
  border-radius: 50%;
  padding: 6px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.current-user-name {
  display: inline-block;
  margin-left: -16px;
  padding: 2px 8px 2px 16px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  color: #38444d;
  text-overflow: ellipsis;
  border: 2px solid #38444d;
  border-left: none;
  border-radius: 0 16px 16px 0;
  text-align: center;
  position: relative;
  z-index: 0;
}

.navbar {
  font-size: 1.5em;
}

#navbar-search-container {
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 10;
}

#navbar-search-container form {
  display: flex;
  width: 100%;
  max-width: 300px;
  border: 2px solid #d0d8e2;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#navbar-search-input {
  flex: 1;
  border: none;
  padding: 10px 15px;
  background-color: #ffffff;
  color: black;
  font-size: 1rem;
  outline: none;
}

#navbar-search-input::placeholder {
  color: #b0c4de;
}

#navbar-search-button {
  background-color: #1f9cff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#navbar-search-button:hover {
  background-color: #0056b3;
}

body {
  font-family: myFirstFont;
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6b8294, #a6b4bf);
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #555, #777);
}

@view-transition {
  navigation: auto;
}