#main-container {
  width: 95%;
  margin: auto;
  margin-top: 30px;
}

a {
  color: #e6e6e6;
  text-decoration: none;
}

th {
  font-size: 1.75rem;
}

td {
  color: #e6e6e6;
  font-size: 1.75rem;
}

.dataTables_length label {
  font-size: 0;
}

.dataTables_length select {
  font-size: 3vh;
  position: fixed;
  right: 50%;
  top: 12px;
  background: transparent;
  z-index: 500;
}

.dataTables_filter label {
  font-size: 0;
}

.dataTables_filter input {
  font-size: 3vh;
  position: fixed;
  top: 12px;
  right: 16px;
  max-width: 45%;
  background: transparent;
  z-index: 500;
}

#authors-table_paginate {
  position: fixed !important;
  bottom: 0;
  left: 0;
  font-size: 3vh;
  width: 100%;
  padding: 10px 0;
  background: #151b23;
  text-align: center;
  z-index: 9999;
}

.dataTables_paginate {
  float: none !important;
}

.dataTables_wrapper {
  padding-bottom: 5vh;
}

#authors-table tbody tr {
  transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

#authors-table tbody tr:hover {
  background-color: #435670;
  transform: scale(1.02);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.dt-right {
  text-align: right;
}

#authors-table thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #27323f;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

#authors-table thead th {
  border-bottom: 2px solid #333;
  padding: 10px;
}

#authors-table thead th:first-child {
  border-top-left-radius: 8px;
}

#authors-table thead th:last-child {
  border-top-right-radius: 8px;
}

.dataTables_filter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.dataTables_filter input[type="search"] {
  background-color: #1e2630;
  color: #ffffff;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px;
  transition: border-color 0.3s ease;
}

.dataTables_filter input[type="search"]:focus {
  border-color: #ffffff;
}

.dataTables_length select {
  background-color: #1e2630;
  color: #ffffff;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px 10px;
  transition: border-color 0.3s ease;
}

.dataTables_length select:focus {
  border-color: #ffffff;
}


.dataTables_paginate li.paginate_button {
  list-style-type: none;
  display: inline-block;
  padding: 6px 10px;
  margin: 0 2px;
  background-color: transparent;
  color: white;
  border-radius: 3px;
  font-size: 2vh;
  text-align: center;
  overflow: hidden;
}

#authors-table_paginate .paginate_button:hover {
  background-color: #27323f;
  cursor: pointer;
}

#authors-table_paginate .paginate_button.active {
  background-color: #38444d;
  color: white;
  font-weight: bold;
}

.dataTables_info {
  color: #a0b0c0;
  font-size: 0.9rem;
  padding: 10px 0;
}

.dataTables_info {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.animate-info {
  opacity: 1;
}

table.dataTable tbody tr.even {
  background-color: #1e252f;
}

