{% load static %}

<script>
    closeOverlay();
</script>

<div id="grid-title">
{% if shelf %}
  <h3>Shelf: {{ shelf }}</h3>
{% endif %}

{% if rating %}
  {% if rating == "1" %}
     <h3>Rating: {{ rating }} star</h3>
  {% elif rating == "0" %}
     <h3>Unrated books</h3>
  {% else %}
    <h3>Rating: {{ rating }} stars</h3>
  {% endif %}
{% endif %}

{% if year %}
  {% if year != "1" %}
     <h3>Year read: {{ year }}</h3>
  {% elif year == "1" %}
     <h3>No reading date</h3>
  {% endif %}
{% endif %}

{% if genre %}
  <h3>Tag: {{ genre }}</h3>
{% endif %}

{% if search_text %}
  <h3>Search results: {{ search_text }}</h3>
{% endif %}

{% if contributor %}
  <h3>Contributor: {{ contributor }}</h3>
{% endif %}

{% if review == 'true' %}
  <h3>Reviewed books</h3>
{% endif %}

{% if review == 'false' %}
  <h3>Books without reviews</h3>
{% endif %}
</div>



<div id="grid" class="grid-container">
{% if books %}
  {% for book in books %}
    <div class="grid-item">
      <div class="book-cover" hx-get="/books/book/{{ book.goodreads_id }}" hx-trigger="click" hx-target="#overlay">
        <img src="/media/{{book.cover_local_path}}" height="350" alt="Book Cover" class="book-cover-image">
        <div class="book-title">
          <div>{{ book.title }}</div>
        </div>
      </div>
    </div>
  {% endfor %}

{% else %}
    <p style="text-align: center;">Select a filter</p>
{% endif %}
</div>
