<script>
    closeOverlay();
</script>

  {% for book in books %}
    {% if book.cover_local_path %}
      <div class="grid-item">
        <div class="book-cover" hx-get="/books/book/{{ book.goodreads_id }}" hx-trigger="click" hx-target="#overlay">
          <img src="/media/{{ book.cover_local_path }}" width="{{ request.user.preferences.gallery_cover_size }}" alt="Book Cover" class="book-cover-image">
          <div class="book-title">
            <div>{{ book.title }}</div>
          </div>
        </div>
      </div>
    {% else %}
       <div class="grid-item">
        <div class="book-cover" hx-get="/books/book/{{ book.goodreads_id }}" hx-trigger="click" hx-target="#overlay">
          <img src="/media/book_covers/book-cover.png" style="box-shadow: none;" width="{{ request.user.preferences.gallery_cover_size }}" class="book-cover-image">
          <div class="book-title">
            <div>{{ book.title }}</div>
          </div>
        </div>
      </div>

    {% endif %}
  {% endfor %}
  {% if books.has_next %}
    {% if genre %}
      <div class="grid-item" hx-get="/books/genre-filter?genre={{ genre }}&page={{ books.next_page_number }}" hx-trigger="revealed" hx-swap="afterend" hx-target="this">
    {% elif tag %}
      <div class="grid-item" hx-get="/books/tag-filter?tag={{ tag }}&page={{ books.next_page_number }}" hx-trigger="revealed" hx-swap="afterend" hx-target="this">
    {% elif year %}
      <div class="grid-item" hx-get="/books/year-filter?year={{ year }}&page={{ books.next_page_number }}" hx-trigger="revealed" hx-swap="afterend" hx-target="this">
    {% elif review == 'true' %}
      <div class="grid-item" hx-get="/books/review-filter?review=true&page={{ books.next_page_number }}" hx-trigger="revealed" hx-swap="afterend" hx-target="this">
    {% elif review == 'false' %}
      <div class="grid-item" hx-get="/books/review-filter?review=false&page={{ books.next_page_number }}" hx-trigger="revealed" hx-swap="afterend" hx-target="this">
    {% elif rating %}
      <div class="grid-item" hx-get="/books/rating-filter?rating={{ rating }}&page={{ books.next_page_number }}" hx-trigger="revealed" hx-swap="afterend" hx-target="this">
    {% elif shelf %}
      <div class="grid-item" hx-get="/books/shelf-filter?shelf={{ shelf }}&page={{ books.next_page_number }}" hx-trigger="revealed" hx-swap="afterend" hx-target="this">
    {% elif contributor %}
      <div class="grid-item" hx-get="/books/author-filter?contributor={{ contributor }}&page={{ books.next_page_number }}" hx-trigger="revealed" hx-swap="afterend" hx-target="this">
    {% endif %}
    </div>
  {% endif %}


<div id="title-bar">
  {% if shelf %}
    <h3>Shelf: {{ shelf }}</h3>
  {% endif %}

  {% if rating %}
    {% if rating == "1" %}
       <h3>Rating: {{ rating }} star</h3>
    {% elif rating == "0" %}
       <h3>Unrated books</h3>
    {% else %}
      <h3>Rating: {{ rating }} stars</h3>
    {% endif %}
  {% endif %}

  {% if year %}
    {% if year != "1" %}
       <h3>Year read: {{ year }}</h3>
    {% elif year == "1" %}
       <h3>No reading date</h3>
    {% endif %}
  {% endif %}

  {% if genre %}
    <h3>Genre: {{ genre }}</h3>
  {% endif %}

  {% if tag %}
    <h3>User tag: {{ tag }}</h3>
  {% endif %}

  {% if search_text %}
    <h3>Search results: {{ search_text }}</h3>
  {% endif %}

  {% if contributor %}
    <h3>Contributor: {{ contributor }}</h3>
  {% endif %}

  {% if review == 'true' %}
    <h3>Reviewed books</h3>
  {% endif %}

  {% if review == 'false' %}
    <h3>Books without reviews</h3>
  {% endif %}
</div>