<span><strong>Date read:</strong> {{ review.date_read }}</span>

{% if review.date_read %}
    <button id="clear-date" class="date-hover-clear"
            hx-post="{% url 'gallery_date_read_update' book.goodreads_id %}"
            hx-vals='{"date-read": ""}'
            hx-target="#date-read-display"
            hx-confirm="Are you sure you wish to remove your read date?"
            hx-on="htmx:beforeRequest: document.querySelector('#year-trigger-span').click();">
        <i class="fa fa-times"></i>
    </button>
{% endif %}
