
{% for rating in ratings %}
    {% if rating.rating == 0 %}
        <a href="#" id="no-rating" hx-get="/books/rating-filter?rating={{rating.rating}}" hx-trigger="click" hx-target="#grid" hx-swap="show:window:top">Not rated ({{rating.num_books}})</a>
        <br>
    {% else %}
        <a href="#" id="{{rating.rating}}-rating" hx-get="/books/rating-filter?rating={{rating.rating}}" hx-trigger="click" hx-target="#grid" hx-swap="show:window:top">
            <span class="stars">{% for i in "12345" %}{% if forloop.counter <= rating.rating %}★{% else %}☆{% endif %}{% endfor %} ({{rating.num_books}})</span></a>  <br>
{% endif %}
{% endfor %}
