{% load static %}
{% load humanize %}

{% if book %}

<div class="overlay-content" id="overlay-content">
    <button class="close-btn btn-close" onclick="closeOverlay()"></button>

    <div id="book-container">
            <!-- Left column: Title, Author, and Metadata -->
    <div id="book-info">

    <h2>{{ book.title }}</h2>
    {% if book.list_authors %}
        {% for author in book.list_authors %}
            <span class="contributor" hx-get="/books/author-filter?contributor={{ author }}" hx-trigger="click" hx-target="#grid" hx-swap="show:window:top">{{author}}</span>{% if not forloop.last %},{% endif %}
        {% endfor %}
    {% endif %}
    <br> <br>

    {% if book.publisher %}
        <span><strong>Publisher: </strong> {{ book.publisher }}</span><br>
    {% endif %}

    {% if book.number_of_pages > 1 %}
        <span><strong>Number of pages:</strong> {{ book.number_of_pages }}</span><br>
    {% endif %}

    {% if book.url %}
        <a href="{{ book.url }}" target=”_blank” class="external-link">Goodreads link</a>
        <a href="{% url 'book_detail' book.goodreads_id %}" target=”_blank” class="external-link">Local link</a><br>
    {% endif %}

    {% if genres %}
        <span><strong> Genres:</strong></span>
        {% for genre in genres %}
            <span class="book-tag" hx-get="/books/genre-filter?genre={{ genre }}" hx-trigger="click" hx-target="#grid" hx-swap="show:window:top">{{genre}}</span>{% if not forloop.last %},{% endif %}
        {% endfor %}
    {% endif %} <br><br>

    {% with review=book.review_set.first %}
        <div id="bookshelf-container">
            {% include 'partials/books/gallery_shelf_select.html' %}
        </div>
        <span style="display: none;"
          id="shelf-trigger-span"
          hx-get="{% url 'gallery_shelf_sidebar_update' %}"
          hx-trigger="click delay:100ms"
          hx-target="#shelfCollapse"
          hx-swap="innerHTML"
          style="display: none;">
        </span>



    {% if review.bookshelves != 'to-read' %}
        <div id="date-read-container">
            <div id="date-read-display" class="date-hover-container">
                {% include 'partials/books/date_read_display.html' %}
            </div>
            <!-- Hidden input -->
            <input type="text" id="date-read" name="date-read" style="display: none;" />

            <!-- Calendar icon -->
            <button id="calendar-icon">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>

            <!-- htmx Trigger button -->
             <button id="date-button"
                     hx-post="{% url 'gallery_date_read_update' book.goodreads_id %}"
                     hx-target="#date-read-display"
                     onclick="this.style.display='none';">
             </button>

            <span style="display: none;"
                  hx-get="{% url 'gallery_year_sidebar_update' %}"
                  hx-trigger="click from:#date-button delay:100ms"
                  hx-target="#yearCollapse"
                  hx-swap="innerHTML">
            </span>

            <span style="display: none;"
                  id="year-trigger-span"
                  hx-get="{% url 'gallery_year_sidebar_update' %}"
                  hx-trigger="click delay:100ms"
                  hx-target="#yearCollapse"
                  hx-swap="innerHTML"
                  style="display: none;">
            </span>
        </div>

    {% endif %}
        <br>

        <div id="tag-editor-container">
            <strong><label for="tag-editor" class="tag-label">Tags:</label></strong>
            <input id="tag-editor" name="tags" class="customLook"
                   hx-post="{% url 'gallery_tag_update' book.goodreads_id %}"
                   hx-trigger="change from:input[name=tags] delay:100ms"
                   hx-swap="innerHTML"
                   {% if tags %}
                       value="{% for tag in tags %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}"
                   {% endif %}
                   placeholder="Add a tag">
            <button type="button">
                <i class="fa fa-plus-square-o" aria-hidden="true"></i>
            </button>
            <span hx-get="{% url 'gallery_tag_sidebar_update' %}"
                  hx-trigger="change from:input[name=tags] delay:200ms"
                  hx-target="#tags-div"
                  hx-swap="innerHTML"></span>
        </div>


        {% if review.bookshelves != 'to-read' %}
        <div id="toggle-checkbox">
            {% if review.review_content %}
                <input type="checkbox" id="toggle-review-checkbox" name="review" onclick="handleToggle()" />
                <label for="toggle-review-checkbox"></label>
            {% else %}
                <input type="checkbox" id="toggle-add-review-checkbox" name="review" {% if review.review_content %} hidden {% endif %}  onclick="handleToggleAddReview()" />
                <label for="toggle-add-review-checkbox"></label>
            {% endif %}
         </div>

        {% endif %}

    {% endwith %}
    <br> <br>
        </div>
            <!-- Right column: Image, Rating, Bookshelf, Date read -->
    <div id="book-cover-overlay">

        <div>
            {% if book.cover_local_path %}
                <img src="/media/{{book.cover_local_path}}" height="350" class="book-cover-overlay" id="book-cover">
            {% else %}
                <img src="/media/book_covers/book-cover.png" style="box-shadow: none; height: 350" class="book-cover-overlay" id="book-cover">
            {% endif %}
        </div>

        {% with review=book.review_set.first %}
            {% if review.bookshelves != 'to-read' %}

                    <div style="margin-top: 10px">
                    <div class="ratings-wrapper" id="rating-content">

                        {% for rating in rating_range %}
                            <input type="radio"  name="rating" id="rs{{ rating }}" {% if review.rating == rating %} checked {% endif %}
                            hx-post="{% url 'rating_update' book.goodreads_id rating %}" hx-trigger="change" hx-swap="innerHTML"
                            hx-target="#rating-status-update" >
                            <label for="rs{{ rating }}"></label>
                        {% endfor %}

                </div></div>

                        <input type="radio"  name="rating" id="rs-none"  {% if review.rating == 0 %} checked {% endif %}
                        hx-post="{% url 'rating_update' book.goodreads_id 0 %}" hx-trigger="change" hx-swap="innerHTML"
                        hx-target="#rating-status-update" >
                        <label for="rs-none"></label>
                <div id="rating-status-update"></div>
                <span hx-get="/books/rating-sidebar-update/" hx-trigger="change from:input[name=rating] delay:150ms" hx-target="#ratingCollapse" hx-swap="innerHTML" ></span>
            {% endif %}

    </div>
    </div>
    {% if book.description %}
        <div id="book-description">{{ book.description|safe|linebreaksbr }}</div>
    {% endif %}

    {% if review.review_content %}
     <div id="book-review" class="hidden">

         <div id="review-buttons">
            <button onClick="showEditReview(); adjustTextareaHeight();">Edit</button>
            <button  onclick="toggleConfirmation()" class="danger-btn">Delete</button>
             <div id="confirmationButtons" class="hidden">
                <span style="margin-right: 20px;">Are you sure?</span>
                <button id="deleteReviewBtn" class="danger-btn" hx-post="/books/gallery-delete-review/{{ book.goodreads_id }}/">Yes</button>
                <button onclick="hideConfirmation()">No</button>
            </div>
         </div>
         <span hx-get="/books/book/{{ book.goodreads_id }}" hx-trigger="click from:#deleteReviewBtn delay:500ms" hx-target="#overlay" ></span>
         <span hx-get="/books/review-sidebar-update/" hx-trigger="click from:#deleteReviewBtn delay:500ms" hx-target="#reviewCollapse" hx-swap="innerHTML"></span>
        <div id="book-review-content" >{{ review.review_content|linebreaksbr|safe }}</div>
     </div>

        <div id="edit-review-container" class="hidden" style="font-size: 14px;">
        <form>
            <div id="review-edit-buttons">
                <button id="addEditedReviewBtn" onClick="showEditReview(); adjustTextareaHeight();" hx-post="/books/gallery-add-review/{{ book.goodreads_id }}/">Save</button>
                <span hx-get="/books/book/{{ book.goodreads_id }}" hx-trigger="click from:#addEditedReviewBtn delay:500ms" hx-target="#overlay" ></span>
                <span hx-get="/books/review-sidebar-update/" hx-trigger="click from:#addEditedReviewBtn delay:500ms" hx-target="#reviewCollapse" hx-swap="innerHTML"></span>
                <button type="button" class="danger-btn" onclick="handleToggleCancelEdit();">Cancel</button>
            </div>
            <textarea id="review-input" name="review" spellcheck="false">{{ review.review_content|safe }}</textarea>
        </form>
        </div>
    {% else %}
     <div id="add-review-container" class="hidden">
         <form>
         <div id="review-buttons">
            <button id="addReviewBtn" hx-post="/books/gallery-add-review/{{ book.goodreads_id }}/">Save</button>
             <span hx-get="/books/book/{{ book.goodreads_id }}" hx-trigger="click from:#addReviewBtn delay:500ms" hx-target="#overlay" ></span>
             <span hx-get="/books/review-sidebar-update/" hx-trigger="click from:#addReviewBtn delay:500ms" hx-target="#reviewCollapse" hx-swap="innerHTML"></span>
            <button type="button" class="danger-btn" onclick="showDescription('toggle-add-review-checkbox'); handleToggleAddReview();">Cancel</button>
         </div>

              <textarea id="review-input" name="review" spellcheck="false"></textarea>
        </form>

     </div>
    {% endif %}
    {% endwith %}
</div>

<script>
    showOverlay();
</script>
{% endif %}