
.hidden {
    display: none;
}

#left-sidebar {
    position: fixed;
    top: 80px;
    left: 20px;
    width: 250px;
    margin-right: 20px;
}

#left-sidebar div {
    margin-bottom: 10px;
}

#locButton {
    margin-bottom: 10px;
}

#booksData {
    position: fixed;
    top: 72px;
    right: 10px;
    width: 280px;
    height: calc(100vh - 160px);
    background-color: #38444d;
    padding: 10px;
}

#booksLocation {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#booksList {
    margin-top: 30px;
    height: 90%;
    overflow-y: auto;
}

#booksList span{
    font-size: 14px;
}