#left-sidebar {
    position: fixed;
    top: 100px;
    left: 50px;
    width: 200px;
    margin-right: 20px;
}

#left-sidebar div {
    margin-bottom: 10px;
}

.color-container {
  display: none;
}

#downloadBtn {
  position: fixed;
  top: 70px;
  left: 50px;
}

#wordCanvas {
  margin-left: 250px;
}