.tab-container {
    display: none;
}

.active-tab {
    display: block;
}

#awards-stats-container .range-container {
    display: block;
    margin-top: 30px;
}

/* Style for tab buttons */
.tab-button {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    margin-right: 5px;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-buttons-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.range-container {

  width: 60%;
  margin: 10% -20%;
}

.sliders-control {
  position: relative;
  min-height: 50px;
}

#slider-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


#slider-text span {
    width: calc(50% - 40px); /* Adjust the width as needed */
    text-align: center;
}


input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}


input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}
