.hidden {
  display: none;
}

#sidebar-menu {
  position: fixed;
  bottom: 40px;
  left: 40px;
}

.menu-item {
  color: #b0c4de;
  transition: color 0.3s ease;
}

.menu-item:hover {
  color: #e74c3c;
  cursor: pointer;
}

#home-content {
  width: 60vw;
  max-width: 1000px;
  margin: 40px auto;
  min-height:calc(100vh - 200px);
  max-width: 1024px;
}

#changelog {
  background-color: #1f2630;
  border: 1px solid #2c3e50;
  border-radius: 8px;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.event-type {
  width: 100%;
  background-color: #2c333a;
  text-align: center;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  float: right;
  color: #b0c4de;
  transition: color 0.3s ease, transform 0.3s ease;
}

.close-btn::before {
  content: '✕';
  font-size: 1.5rem;
}

.close-btn:hover {
  color: #e74c3c;
  transform: scale(1.1);
}

.close-btn:active {
  transform: scale(0.95);
}

.close-btn:focus {
  outline: 2px solid #b0c4de;
  outline-offset: 2px;
}

.changelog-header {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.release-version {
  font-size: 1.5rem;
}

.release-date {
  color: #b0c4de;
}

li {
  color: #b0c4de;
}

section {
  margin-bottom: 24px;
}

article {
  margin-bottom: 64px;
}


#calendar {
  position: absolute;
  top: 80px;
  right: 20px;
}

.calendar-title {
  text-align: center;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  width: 2em;
  background-color: #27323f;
}

.current-day {
  color: #e74c3c;
  font-weight: bold;
}

.has-event {
  background-color: #4d6280;
  font-weight: bold;
  border-radius: 50%;
}

.has-event:hover {
  cursor: pointer;
}

/*
pickabook

#pikabook {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.book-cover img {
  width: 200px;
  height: 300px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.book-cover img:hover {
  transform: scale(1.05);
}