{% extends "_base.html" %}

{% load static %}

{% block title %}Import recs{% endblock title %}

{% block additional_includes %}
  <link rel="stylesheet" href="{% static 'themes/' %}{{ active_theme }}/css/base.css">
{% endblock additional_includes %}

{% block content %}

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

<div id="left-sidebar">



    {% if rec_cat %}
        <div style="text-align: center;">Recommendations lists</div>

        {% for category in rec_cat %}
        <div class="container mt-4">
            <button class="shadow-none cat-btn " data-bs-toggle="collapse" data-bs-target="#{{category.type|slugify}}Collapse">{{category.type}}s</button>
            <div class="collapse" id="{{category.type|slugify}}Collapse">

                <div>
                    {% for list in rec_list %}
                        {% if category.type == list.type %}
                             <a href="#" id="{{list.name|slugify}}" hx-get="/recs/list?listname={{ list.name }}" hx-trigger="click" hx-target="#list-div">{{list.name}}</a>
                             <span hx-get="/recs/genres_count?listname={{ list.name }}" hx-trigger="click from:#{{list.name|slugify}}" hx-target="#genres-div"></span>
                            <br>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
        {% endfor %}
    {% endif %}
    <div id="options-bottom">
        <a href="/recs/sync/">Sync with read shelf</a><br>
        <a href="/recs/sync/clear/">Clear read status</a>
    </div>
</div>

<div id="content-div">
    <div id="list-div">
        {% include 'partials/recs/book_list.html' %}
    </div>

    <div id="detail-div">
        {% include 'partials/recs/rec_detail.html' %}
    </div>
</div>

<div id="right-sidebar">

    <div id="genres-div">
    {% include 'partials/recs/genres_count.html' %}
    </div>

</div>

</body>

<script>
</script>

{% endblock content %}

{% block scripts %}
                {{ block.super }}
                <script src="{% static 'js/recs/recs.js' %}"></script>
{% endblock %}